<div class="container-fluid member-episode-two position-relative mt-5">
  <div class="row">
    <div
      class="col-md-4 bg-white"
      style="
        padding: 35px 50px;
        position: absolute;
        top: 40%;
        left: 15%;
        padding: 35px 50px; ;
      "
    >
      <div class="episode-two">
        <h1>学生時代のエピソード</h1>
        <p>グローバルに活躍できる人材になりたいと思って大学を選んだんです</p>
        <p>けど、そこは学生の約半数が外国人で、１００カ国以上から学生が集</p>
        <p>まるような学校でした。年齢や国籍に関係なく世界中の人たちと友達</p>
        <p>になって、日本国内では３６の都道府県を一緒に旅したりしましたね。</p>
        <p>海外にもよく旅に出て、タイでは現地の人たちと交流したり、台湾へ</p>
        <p>
          の留学を経験したりと、「世界」を肌で感じたことで自分の視野も広がっ
        </p>
        <p>たように思います。</p>
        <p>あなぶき興産と出会ったのは、海外留学生向けの合同会社説明会のイ</p>
        <p>ベントでした。たまたま社員さんに声をかけられて、あなぶき興産の</p>
        <p>ブースに立ち寄ったのですが、担当者の人柄も良くて、何よりすごく</p>
        <p>楽しかったんです。色々なことにチャレンジできそうな会社であるこ</p>
        <p>と、不動産という目で見て分かるものが商材で、生涯誇りを持って働</p>
        <p>けそうだなと感じたことがエントリーのきっかけになりました。</p>
        <p>無事内定をいただいた後も、内定者という立場でしたが「新規事業コ</p>
        <p>ンテスト（夢のたまごグランプリ）」に出させていただき、本当に若手</p>
      </div>
    </div>
  </div>
</div>
