<div
  class="container-fluid member-three-episode-three"
  style="margin-top: 25%; height: 1060px"
>
  <div class="member-three-episode-three-upper" style="height: 500px"></div>
  <div class="row justify-content-center" style="">
    <div
      class="col-md-6 bg-white"
      style="padding: 30px 60px; margin-top: -75px"
    >
      <p>Episode_03</p>
      <h1>仕事のモットーは？</h1>
      <p>
        私のモットーは、「目標達成は当たり前」。
        <br>数字は“ノルマ”ではなく、“目標”と呼んでいます。目標達成に対してどう行動するべきなのかを先輩や上司
        <br>も一緒に考えてくれたり、自分の考えを「失敗してもいいからやってごらん」と後押ししてもらい、もらった
        <br>アドバイスや考えたこと、過去の経験にさらにプラスαの仕事をするのが、もうひとつの私のこだわりです。
        <br>例えば、後輩の成績が出るよう必要なサポートやフォローを考えて先を読んで行動したり、毎日使う資料もメ
        <br>ンバーが効率よく業務が進められるよう率先してデータ管理をするなど、プラスαを意識して仕事をしていま
        <br>す。
        <br>これからの目標は、もっと大きな案件をストックマンション事業部の代表として手がけていること。今よりもっ
      </p>
      
     
    </div>
  </div>
</div>
