<div class="member-three-hero position-relative">
  <%- include("../layout/header")%>
  <h2 class="m-one-hero-title text-white">
    実績も、キャラクターも、 <br />“目立つ”人間になるために。
  </h2>
  <div class="position-relative" style="height: 500px">
    <div
      class="text-white"
      style="position: absolute; top: 72%; left: 12%; z-index: 10"
    >
      <span style="background: #066dec; opacity: 0.6; padding: 10px"
        >HUMAN</span
      >
      <br />
      <span
        style="
          background: #066dec;
          opacity: 0.6;
          font-size: 40px;
          padding: 0px 10px;
        "
        >ストックマンション事業</span
      >
    </div>
  </div>
  <div class="member-one-hero-next">
    <h2>駒山 魁都</h2>
    <p>Kaito Komayama</p>
    <p>ストックマンション事業部</p>
    <h4>2018年入社／薬学部卒</h4>
  </div>
</div>
