<div class="container-fluid member-three-episode-one position-relative">
    <div class="row">
      <div
        class="col-md-4 bg-white"
        style="position: absolute; top: 39%; right: 15%; padding: 35px 50px"
      >
        <div class="episode-one">
          <p>Episode_01</p>
          <h1>学生時代のエピソード</h1>
          <p>とにかく学生時代は毎日が陸上。朝５時に起きて練習に励み、来る日
            <br>も来る日も走り続けていましたね。高校生のときに四国高校選手権の
            <br>１５００m走で優勝した実績もあって、スポーツ推薦で東京の大学に
            <br>進学しました。４年生のときには全日本インカレ５位という結果も残
            <br>せたので、それなりに頑張った方かなと思います。
            <br>大学卒業後は実業団という道もありましたが、将来を考えてしっかり
            <br>就活しようと思いました。検討していた業界は、不動産一択でしたね。
            <br>理由としては、一番大きなものに関わりたかったから。
            <br>ただ、不動産系の会社はかっちりとした会社が多いイメージがあって、
            <br>自分のようなお調子者のタイプはダメだろうなと心のどこかで思って
            <br>いました。でも、あなぶき興産は風通しのいい雰囲気があって、自分
            <br>を活かすにはここしかないなと。
            <br>当初、あなぶき興産の仕事と言えば、BtoCの新築分譲マンション営業
            <br>というイメージしかなかったんですが、面接を重ねていくうちにさま
            <br>ざまな仕事があることを知り、内定が出てからはBtoBを経験できる
            <br>ストックマンション事業に行きたいと希望を出しました。
          </p>
 
        </div>
      </div>
    </div>
  </div>
  