<div class="container-fluid member-two-episode-one position-relative">
    <div class="row">
      <div
        class="col-md-4 bg-white"
        style="position: absolute; top: 39%; right: 15%; padding: 35px 50px"
      >
        <div class="episode-one">
          <p>Episode_01</p>
          <h1>学生時代のエピソード</h1>
          <p>大学生のときは茶道部に１年在籍していたことがありましたが、ほと
            <br>んどアルバイトばかりしていましたね。某大手アパレル店で接客のア
            <br>ルバイトを４年間続けました。初めてのアルバイトだったので稼ぐこ
            <br>との厳しさも学びましたし、いろんな方の接客を通じて社会勉強にも
            <br>なりました。その接客したときに感じたお客様の喜ぶ姿が純粋に嬉し
            <br>くて、就活でも営業職を志望して、人と関わる仕事がしたいと考える
            <br>ようになりました。
            <br>あなぶき興産は、自分の地元にもアルファシリーズのマンションがあっ
            <br>たので馴染みはありました。初めて会社説明会に参加したときは、人
            <br>事の方だけでなくて営業の年齢の若い先輩社員の座談会もやっていて、
            <br>すごくフランクだったことが印象に残っています。
            <br>それまで不動産業界にガツガツした体育会系のイメージがあったので
            <br>すが、営業の社員さんとも直接話ができて、目標もチームでどう達成
            <br>していくかを大事にしていることが分かって安心できました。その後
            <br>の最終面接でも私服OKと伝えられ、「自分らしく」働けそうな環境だ
          </p>
         
        </div>
      </div>
    </div>
  </div>
  