<div class="container-fluid py-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-2">Profile</div>
        <div class="col-md-10">
          <p>
            香川県高松市出身。学生時代は陸上づけの毎日で、スポーツに打ち込める環境を求めて、大学もスポーツ推薦で進学。
            <br />４年生のときに１５００m走で全日本インカレ５位に。生粋のアスリートでありながら、ときには芸人の真似をす
            <br />るなど、自他ともに認めるお調子者キャラ。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
