<div class="member-three-hero position-relative">
  <%- include("../layout/header")%>
  <h2 class="m-one-hero-title">
    １年目からのチャレンジが <br />未来の自分の「力」になる。
  </h2>
  <div class="position-relative" style="height: 500px">
    <div
      class="text-white"
      style="position: absolute; top: 72%; left: 12%; z-index: 10"
    >
      <span style="background: #066dec; opacity: 0.6; padding: 10px"
        >HUMAN</span
      >
      <br />
      <span
        style="
          background: #066dec;
          opacity: 0.6;
          font-size: 40px;
          padding: 0px 10px;
        "
        >マンション営業</span
      >
    </div>
  </div>
  <div class="member-one-hero-next">
    <h2>西島 優輝</h2>
    <p>Yuki Nishijima</p>
    <p>マンション営業</p>
    <h4>2021年入社／国際経営学部卒</h4>
  </div>
</div>
