<div class="container-fluid member-episode-two position-relative mt-5">
  <div class="row">
    <div
      class="col-md-4 bg-white"
      style="
        padding: 35px 50px;
        position: absolute;
        top: 40%;
        left: 15%;
        padding: 35px 50px; ;
      "
    >
      <div class="episode-two">
        <p>Episode_02</p>
        <h1>入社１年目の思い出は？</h1>
        <p>多くの新卒社員と同じように私もマンション営業の仕事からスタート
          <br>したのですが、圧倒的に不動産の知識や情報量が足りていなかったの
          <br>で、お客様からの質問にすぐに答えることができずに悔しい思いをし
          <br>ました。その焦りからか契約という結果も出ず、どんどん月日も経っ
          <br>て…心が折れそうなときもありましたが、自分がこの仕事に挑戦しよ
          <br>うと思ったのは「営業力や提案力を身につけたい」という想いがあっ
          <br>たので、それを忘れずに自分を奮い立たせましたね。
          <br>先輩たちとのトークは何が違うのか、先輩とロープレをしてノウハウ
          <br>を吸収していくうちに、何よりも「お客様を理解すること」の大切さ
          <br>に気づきました。お客様がモデルルームを訪れるのには必ず理由があっ
          <br>て、今の生活の何が不満なのかをしっかり理解しなければ、適切な提
          <br>案もできません。セールストークのような話す力よりも、観察力や聞
          <br>く力を磨いていくことで、お客様が納得できる提案ができるようにな
          <br>りました。
          <br>結局、初契約は１年が経ったくらいのとき。他の同期と比べて時間は
        </p>
        
      </div>
    </div>
  </div>
</div>
