<div class="container-fluid py-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="row">
                <div class="col-md-2">Profile</div>
                <div class="col-md-10">
                    <p>宮城県仙台市出身。高校まで野球に熱中し、大学は大分県にあるグローバル系の大学へ進学。学生時代は国内・海
                        <br>外問わず旅をしていた。配属先となった香川県には社会人になり初めて訪れたが温暖な気候や不便さを感じない程
                        <br>よいローカル感がお気に入りとのこと。
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>