<div
  class="container-fluid member-three-episode-three"
  style="margin-top: 25%; height: 1060px"
>
  <div class="member-three-episode-three-upper" style="height: 500px"></div>
  <div class="row justify-content-center" style="">
    <div
      class="col-md-6 bg-white"
      style="padding: 30px 60px; margin-top: -75px"
    >
      <p>Episode_03</p>
      <h1>あなぶき興産の魅力は？</h1>
      <p>
        とにかくチャレンジできる回数が多いことと、やる気があればさまざまなフィールドで活躍できることです。
      </p>
      <p>
        新規事業コンテストに出させていただいたり、入社１年目から現役高校生に向けたキャリアについての講義を
      </p>
      <p>
        担当したりもしました。それもプロジェクトが動くときに「興味を持っています！」と伝えたことがきっかけ
      </p>
      <p>
        でした。やはり手を挙げる人にはしっかりチャンスをくれる会社だなと思います。
      </p>
      <p>
        今後の目標としては、いつか新規事業や経営に携われるようになっていきたいです。そのために必要なのは「提
      </p>
      <p>
        案力」。だからこそ今はマンション営業というフィールドで提案力や営業力をどんどん養って、自分のビジネス
      </p>
      <p>パーソンとしての土台を強くしていきたいと考えています。</p>
      <p>
        私の仕事のモットーは、「人」として良い人であること。いつか営業として大きな結果を出せるようになったと
      </p>
      <p>
        しても調子に乗らず、謙虚に。学生時代に所属していた野球の世界がそうでしたが、うまくいくとすぐ天狗になっ
      </p>
      <p>
        て失敗をしてしまう選手を多く見てきたので、それを反面教師にしながら「人」としての正しさを忘れずに成
      </p>
      <p>長していきたいと思います。</p>
    </div>
  </div>
</div>
