<div class="container-fluid member-three-episode-two position-relative mt-5">
    <div class="row">
      <div
        class="col-md-4 bg-white"
        style="
          padding: 35px 50px;
          position: absolute;
          top: 40%;
          left: 15%;
          padding: 35px 50px; ;
        "
      >
        <div class="episode-two">
          <p>Episode_02</p>
          <h1>お調子者キャラを貫く理由は？</h1>
          <p>現在担当している業務は、簡単に言うと賃貸物件を購入して、リフォー
            <br>ムをして、新たな付加価値をつけて販売する、中古マンションの再生
            <br>事業です。そんなストックマンション事業に配属の希望を出した理由
            <br>は、買う・売る・リフォームする、と様々なことを一度に経験できる
            <br>から。
            <br>実際はその全てを一人で担当していくので大変なことも多いですけど、
            <br>その分「こうやりなさい」という決められたルールはなく、案件の獲
            <br>得方法も販売も、自分なりのスタイルで自由にできるところに面白さ
            <br>を感じています。
            <br>入社１年目に、その年に入社した新入社員の中で最も実績を上げた通
            <br>期の最優秀者として「新人賞」をいただきました。、表彰式では「自分
            <br>の名前を覚えてもらういい機会！」と思い全力でスピーチをしました。
            <br>そのおかげもあり、自分の名前が知れ渡って「うちの会社に面白いや
            <br>つがいるんだけど」と他の事業部のルートから案件を紹介してもらう
            <br>こともありました。「個性」をつぶさずに伸ばしてくれる会社には感謝
            <br>しかないです。
          </p>
       
        </div>
      </div>
    </div>
  </div>
  