<div class="member-two-hero position-relative">
    <%- include("../layout/header")%>
    <h2 class="m-one-hero-title" >自分らしさを高めることが、<br>己の存在価値も高めていく。</h2>
    <div class="position-relative" style="height: 500px">
      
      <div class="text-white" style="position: absolute; top: 72%; left: 12%;z-index: 10;">
        <span style="background: #066dec; opacity: 0.6; padding: 10px"
          >HUMAN</span
        >
        <br />
        <span
          style="
            background: #066dec;
            opacity: 0.6;
            font-size: 40px;
            padding: 0px 10px;
          "
          >ソリューション事業</span
        >
      </div>
    </div>
    <div class="member-one-hero-next">
       <h2>中川 瑞基</h2>
       <p>Mizuki Nakagawa</p>
       <p>不動産ソリューション事業部</p>
       <h4>2018年入社／法学部卒</h4>
    </div>
   
  </div>