<div class="container-fluid py-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="row">
                <div class="col-md-2">Profile</div>
                <div class="col-md-10">
                    <p>兵庫県明石市出身。入社４年目で初めての東京暮らし。休みの日には降りたことのない駅で途中下車をして、街を</p>
                    <p>散策するのが趣味。キャンプも好きで、千葉の房総方面まで出かけることも。オフにしっかり気分転換をすることで、</p>
                    <p>仕事のモチベーションを上げている。</p>
                </div>
            </div>
        </div>
    </div>
</div>