<div class="container-fluid member-two-episode-two position-relative mt-5">
    <div class="row">
      <div
        class="col-md-4 bg-white"
        style="
          padding: 35px 50px;
          position: absolute;
          top: 40%;
          left: 15%;
          padding: 35px 50px; ;
        "
      >
        <div class="episode-two">
          <p>Episode_02</p>
          <h1>これまでのキャリアは？</h1>
          <p>私はちょっと珍しいパターンで、入社してすぐに、不動産仲介を手が
            <br>けるグループ会社に出向して、家を売りたい・買いたいお客様の仲介
            <br>を担当することになりました。
            <br>売却を検討されているお客様の家の査定額を算出して、うちに任せて
            <br>もらえるようにプレゼンしていくのですが、ここでキーになるのは、
            <br>いかにお客様と「信頼関係」を築けるか。相続や税金も絡む専門的な
            <br>分野ということもありましたが、自分がなかなかお客様に任せてもら
            <br>えないことが続いたときに、先輩から「自分の家族が家を売る・買う
            <br>と考えたら、どういう提案になると思う？」と言われたことがありま
            <br>した。そこから距離の近い親身な対応ができるようになって、お客様
            <br>からの信頼も得られるようになりました。
            <br>そんな仲介の仕事を続けていくうちに、もっと自分の不動産の視野を
            <br>広げたいと思うようになって。不動産を「作る側」のことを学ぶことで、
            <br>今後また仲介の仕事をしたとしても提案の仕方が変わるんじゃないか。
            <br>そんな想いで異動の希望を出して、入社４年目に不動産ソリューショ
            <br>ン事業部へと配属になりました。
          </p>
        
        </div>
      </div>
    </div>
  </div>
  