<div class="container-fluid member-two-episode-three" style="margin-top: 25%;height: 1060px;">
    <div class="member-two-episode-three-upper" style="height: 500px"></div>
    <div class="row justify-content-center" style="">
      <div
        class="col-md-6 bg-white"
        style="padding: 30px 60px; margin-top: -75px"
      >
        <p>Episode_03</p>
        <h1>仕事のやりがいや面白さは？</h1>
        <p>
          現在は収益不動産の開発や、自社で保有する不動産が収益を取れるように管理・運営などを行っています。不
          <br>動産ソリューションの仕事には、プロジェクトの規模が何十億円という、自分ひとりでは絶対にできないよう
          <br>な案件に挑戦できる面白さがありますね。不動産屋を回って土地の情報収集をしながら、賃貸マンションだけ
          <br>でなく、介護施設やホテルの建設なども検討したり、スケールの大きな仕事ができています。
          <br>当社には個性豊かなメンバーが集まっていますが、不思議とチームワークも良くて。それはおそらく、当社に
          <br>集まってくるメンバーに共通しているのが「誰かのために頑張れる人」だからだと思うんです。
          <br>そんな環境なので、今の自分の力ではできないことも、同僚や先輩方の個性（得意なこと）を組み合わせたり、
          <br>力をお借りすることで、自分のレベル以上の難しい仕事にもチャレンジできています。ダイナミックな規模の
          <br>プロジェクトにチャレンジする経験は圧倒的な成長につながりますし、自分次第でそんな成長のチャンスをど
          <br>んどん掴むことができるのも当社の大きな魅力だと思います。
        </p>
     
      </div>
    </div>
  </div>
  