<div class="container-fluid py-5 crosstalk-one-team" style="margin-top: -6%">
  <div class="py-2">
    <p class="text-center">役員×若手</p>
    <h1 class="text-center">年代のギャップを超えて、ともに「未来の旅」へ</h1>
    <p class="text-center">
      目の前の課題に奮闘する若手社員と、会社の１００年後も想定しながら組織全体をマネジメントする役員。立場も、キャリアも、年齢
      <br />も違う３名のメンバーに集まっていただき、それぞれが抱える仕事や会社への想いなどを中心にクロストークを開催しました。
    </p>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-4">
          <div class="team-one">
            <div class="team-name text-center">
              <img style="width: 30%" src="/images/person.png" alt="" />
              <h2>松本 伸也</h2>
              <p>Shinya Matsumoto</p>
            </div>
            <div class="position text-center">
              <p>取締役／M＆A推進室　室長 <br />2003年入社／経済学部卒</p>
            </div>
            <div class="team-content">
              <p>
                宮城県仙台市で生まれ、全国各地を転々。
                <br />その中でも一番長く住んだのは岡山市。
                <br />マンション営業を１年半ほど経験してか
                <br />らM＆A推進室へ異動。その後も社長直
                <br />轄の経営企画室でキャリアを重ねる。小
                <br />中高と野球少年で、今でも東京にいる高
                <br />校の同級生たちと草野球を楽しむ。
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-one">
            <div class="team-name text-center">
              <img style="width: 30%" src="/images/person.png" alt="" />
              <h2>堀口 紀香</h2>
              <p>Norika Horiguchi</p>
            </div>
            <div class="position text-center">
              <p>
                人事採用グループ 採用担当 <br />
                2021年入社／グローバル・メディア学部卒
              </p>
            </div>
            <div class="team-content">
              <p>
                千葉県出身。就活では当初、ホテルや航
                <br />空会社の接客業を志望していたがコロナ
                <br />で採用ストップ。住まいを通してお客様
                <br />に価値を提供するというあなぶき興産の
                <br />想いに共感して、入社を決意。マンショ
                <br />ン営業を経て、東京拠点の採用担当に。
                <br />特技はバスケットボール。
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-one">
            <div class="team-name text-center">
              <img style="width: 30%" src="/images/person.png" alt="" />
              <h2>根上 鉄平</h2>
              <p>Teppei Negami</p>
            </div>
            <div class="position text-center">
              <p>マンション営業 <br />2021年入社／米ハワイ州の大学卒</p>
            </div>
            <div class="team-content">
              <p>宮城県仙台市で生まれ、全国各地を転々。
                <br>東京都出身。サッカーのクラブチームの
                <br>ユースに所属していたこともあり、その
                <br>頃のチームメイトには日本代表の選手も。
                <br>高校卒業後はアメリカ・カンザス州の大
                <br>学へ進学した後に、ハワイ州の大学へ編
                <br>入。入社後はマンション営業として新潟、
                <br>熊谷、高崎と渡り歩く。
              </p>
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
