<div class="container-fluid crosstalk-chat">
  <p class="text-center">EPISODE 01</p>
  <h2 class="text-center">お互いの印象</h2>
  <div class="row justify-content-center">
    <div class="col-md-8 border">
      <div class="row">
        <div class="col-md-2">
          <img class="w-100" src="/images/chat.jpg" alt="" srcset="" />
        </div>
        <div class="col-md-8">
          <div class="crosstalk-msg">
            <p>
              修ちゃん（上原）は、新卒の頃からずっと変わらないよね。理系男子とい
            </br>
              うか、いつも冷静で、何を質問しても的確に答えてくれて賢い人だなって。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
