<div class="container-fluid py-5" style="margin-top: -6%">
  <div class="py-2">
    <p class="text-center">マンションTeam</p>
    <h1 class="text-center">
      不動産営業のイメージが変わる？ <br />本音のクロストーク！
    </h1>
    <p class="text-center">
      新築分譲マンションのプロジェクトが立ち上がる際に、販売担当チームが座組みされる。１チーム5名～８名で、若手・中堅・ベテラン
      <br />とバランス良くメンバーが配置される中、同じチームになったこともあるという３名から、お互いの仕事ぶりやチームの雰囲気などに
      <br />ついてお話をうかがいました。
    </p>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-4">
          <div class="team-one">
            <div class="team-name text-center">
              <img style="width: 30%" src="/images/person.png" alt="" />
              <h2>山口 陽織</h2>
              <p>Hiori Yamaguchi</p>
            </div>
            <div class="position text-center">
              <p>マンション営業 <br />2018年入社／人文学部卒</p>
            </div>
            <div class="team-content">
              <p>
                広島県広島市出身。大学進学では一人暮
                <br />らしをしてみたいこともあって高知県へ。
                <br />そこで四国の魅力に出会い、就活でも四
                <br />国を中心にリサーチ。業界などは絞って
                <br />いなかったが、福利厚生の充実や社員の
                <br />人柄の良さといった環境面に惹かれてあ
                <br />なぶき興産に入社。
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-one">
            <div class="team-name text-center">
              <img style="width: 30%" src="/images/person.png" alt="" />
              <h2>藤原 優奈</h2>
              <p>Yuna Fujiwara</p>
            </div>
            <div class="position text-center">
              <p>マンション営業 <br />2020年入社／経営学部卒</p>
            </div>
            <div class="team-content">
              <p>
                愛媛県大洲市出身。一見おっとりとした
                <br />雰囲気ながら、大学ではダンスサークル
                <br />に所属していたという隠れアクティブ派。
                <br />不動産会社に就職したサークルの先輩か
                <br />ら大きなものをセールスする仕事のやり
                <br />がいを聞いたことが、この業界へと進む
                <br />後押しになった。
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-one">
            <div class="team-name text-center">
              <img style="width: 30%" src="/images/person.png" alt="" />
              <h2>西島 優輝</h2>
              <p>Yuki Nishijima</p>
            </div>
            <div class="position text-center">
              <p>マンション営業 <br />2021年入社／国際経営学部卒</p>
            </div>
            <div class="team-content">
              <p>宮城県仙台市出身。学生の約半数が外国
                <br>人というグローバル系の大学へ進学。学
                <br>生時代は年齢・国籍に関係なく世界中の
                <br>人たちと、国内・海外問わず旅をしていた。
                <br>内定者の頃からあなぶきグループが主催
                <br>する新規事業コンテストに参加するなど
                <br>向上心のある頑張り屋タイプ。
              </p>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
