<div class="container-fluid py-5" style="margin-top: -4%">
  <div class="py-2">
    <h1 class="text-center">
      不動産営業のイメージが変わる？ <br />本音のクロストーク！
    </h1>
    <p class="text-center">
      新築分譲マンションのプロジェクトが立ち上がる際に、販売担当チームが座組みされる。１チーム5名～８名で、若手・中堅・ベテラン
    </p>
    <p class="text-center">
      とバランス良くメンバーが配置される中、同じチームになったこともあるという３名から、お互いの仕事ぶりやチームの雰囲気などに
    </p>
    <p class="text-center">ついてお話をうかがいました。</p>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-4">
          <div class="team-one">
            <div class="team-name text-center">
              <img style="width: 30%" src="/images/person.png" alt="" />
              <h2>松本 伸也</h2>
              <p>Shinya Matsumoto</p>
            </div>
            <div class="position text-center">
              <p>取締役／M＆A推進室　室長</p>
              <p>2003年入社／経済学部卒</p>
            </div>
            <div class="team-content">
              <p>宮城県仙台市で生まれ、全国各地を転々。</p>
              <p>その中でも一番長く住んだのは岡山市。</p>
              <p>マンション営業を１年半ほど経験してか</p>
              <p>らM＆A推進室へ異動。その後も社長直</p>
              <p>轄の経営企画室でキャリアを重ねる。小</p>
              <p>中高と野球少年で、今でも東京にいる高</p>
              <p>校の同級生たちと草野球を楽しむ。</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-one">
            <div class="team-name text-center">
              <img style="width: 30%" src="/images/person.png" alt="" />
              <h2>松本 伸也</h2>
              <p>Shinya Matsumoto</p>
            </div>
            <div class="position text-center">
              <p>取締役／M＆A推進室　室長</p>
              <p>2003年入社／経済学部卒</p>
            </div>
            <div class="team-content">
              <p>宮城県仙台市で生まれ、全国各地を転々。</p>
              <p>その中でも一番長く住んだのは岡山市。</p>
              <p>マンション営業を１年半ほど経験してか</p>
              <p>らM＆A推進室へ異動。その後も社長直</p>
              <p>轄の経営企画室でキャリアを重ねる。小</p>
              <p>中高と野球少年で、今でも東京にいる高</p>
              <p>校の同級生たちと草野球を楽しむ。</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-one">
            <div class="team-name text-center">
              <img style="width: 30%" src="/images/person.png" alt="" />
              <h2>松本 伸也</h2>
              <p>Shinya Matsumoto</p>
            </div>
            <div class="position text-center">
              <p>取締役／M＆A推進室　室長</p>
              <p>2003年入社／経済学部卒</p>
            </div>
            <div class="team-content">
              <p>宮城県仙台市で生まれ、全国各地を転々。</p>
              <p>その中でも一番長く住んだのは岡山市。</p>
              <p>マンション営業を１年半ほど経験してか</p>
              <p>らM＆A推進室へ異動。その後も社長直</p>
              <p>轄の経営企画室でキャリアを重ねる。小</p>
              <p>中高と野球少年で、今でも東京にいる高</p>
              <p>校の同級生たちと草野球を楽しむ。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
