<div class="container-fluid crosstalk-chat py-5">
 
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="text-center">EPISODE 02</p>
        <h2 class="text-center">それぞれの仕事に向き合う姿勢</h2>
         <!-- right -->
         <div class="row my-4">
          <div class="col-md-8 offset-2">
             <div class="crosstalk-msg">
               <p>
                私、山口さんの商談を参考にさせていただいたことがあるんですけど、男
               </br>
               性メンバーとは違う女性ならではの丁寧な商談というか。私だったら省い
               <br>
               てしまうようなことも細やかに説明されていて、こういうところからお客
               <br>
               様との信頼関係ができるんだなと感じました。
               </p>
             </div>
           </div>
           <div class="col-md-2 text-start" >
             <img class="" src="/images/person.png" alt="" srcset="" />
           </div>
        </div>
         <!-- right -->
         <div class="row my-4">
          <div class="col-md-8 offset-2">
             <div class="crosstalk-msg">
               <p>
                ちなみに山口さんが営業として一人前になったと感じたのはいつ頃なんで
               </br>
               すか？
               </p>
             </div>
           </div>
           <div class="col-md-2 text-start" >
             <img class="" src="/images/person.png" alt="" srcset="" />
           </div>
        </div>
   
        <!-- left -->
        <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                みんなと同じように１年目はとにかくがむしゃらにやって。２年目になる
                <br>と、新人も入ってくるので先輩におんぶにだっこではいられない。とはい
                <br>え営業としてはまだまだひよっこ、というもどかしさがあって。
              </p>
            </div>
          </div>
        </div>
          <!-- right -->
          <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  山口さんでも、もがいている時期があったんですね。僕からすると完璧に
                 </br>
                 見えるんですけど。
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>
          <!-- left -->
        <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                ２年目だとまだ知らないことも沢山あるから。でも商談は一通りできるよ
                <br>うになって、３年目になってやっと一人で満遍なく説明できるようになっ
                <br>た感じ。あとはシニア、ファミリー、単身と色々なお客様との接客を経験
                <br>していくことで、状況によってどういうトークが必要かも判断できるよう
              </p>
            </div>
          </div>
        </div>
           <!-- right -->
           <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  先輩たちが凄すぎて、私も何か一つでも周りに誇れるものが欲しいなと
                 </br>
                 思っていて。住宅ローンのことなら私に！みたいな。そういう強みがあれ
                 <br>
                 ば、誰かの頼りになることもできるし。
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>
           <!-- right -->
           <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  僕なんか、まだまだだなぁ・・・。
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>
             <!-- left -->
        <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                でも、西島くんは本当に２年目？というくらい落ち着きがあるよね。努力
                <br>家だし、こうした方がいいという助言も素直に受け入れて実践してくれる
                <br>し、商談で難しかったことがあれば、すぐに上司に聞きにいく姿勢もすご
                <br>くいいなって思う。
              </p>
            </div>
          </div>
        </div>
                
       

         
      
      </div>
    </div>
  </div>
  