<div class="container-fluid crosstalk-chat py-5">
 
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p class="text-center">EPISODE 01</p>
      <h2 class="text-center">あなぶき興産の魅力について</h2>
      <!-- left -->
      <div class="row my-4">
        <div class="col-md-2 text-end" >
          <img class="" src="/images/person.png" alt="" srcset="" />
        </div>
        <div class="col-md-8">
          <div class="crosstalk-msg">
            <p>
              はい。よろしくお願いします。
            </p>
          </div>
        </div>
      </div>
     
      <!-- right -->
      <div class="row my-4">
          <div class="col-md-8 offset-2">
             <div class="crosstalk-msg">
               <p>
                はい。よろしくお願いします。
               </p>
             </div>
           </div>
           <div class="col-md-2 text-start" >
             <img class="" src="/images/person.png" alt="" srcset="" />
           </div>
        </div>
        <!-- left -->
      <div class="row my-4">
        <div class="col-md-2 text-end" >
          <img class="" src="/images/person.png" alt="" srcset="" />
        </div>
        <div class="col-md-8">
          <div class="crosstalk-msg">
            <p>
              実は役員になったのが最近で、これからは若手のメンバーともっと交流し
            </br>
            たいと思っています。ちなみにですけど、二人はうちの会社の良いところっ
            <br>
            てどこだと思いますか？
            </p>
          </div>
        </div>
      </div>
       <!-- right -->
       <div class="row my-4">
        <div class="col-md-8 offset-2">
           <div class="crosstalk-msg">
             <p>
              最初に感じたのは、上の人が若手の意見を柔軟に聞いてくれるところ。チー
             </br>
             ムでマンション営業をしていく中で「こんな取り組みはどうですか？」と
             <br>
             いう若手の意見も取り入れてくれたり。それを１年目から感じたのは驚き
             </p>
           </div>
         </div>
         <div class="col-md-2 text-start" >
           <img class="" src="/images/person.png" alt="" srcset="" />
         </div>
      </div>
       <!-- right -->
       <div class="row my-4">
        <div class="col-md-8 offset-2">
           <div class="crosstalk-msg">
             <p>
              あと会社全体のスピード感が凄いですね。何かを変えようと思ってから着
             </br>
             手するまでが早い。人事部にきてからとくに感じましたが、情勢をキャッ
             <br>
             チして制度を新設したり、社員の声を拾って研修をしたり。凄いと感じま
             </p>
           </div>
         </div>
         <div class="col-md-2 text-start" >
           <img class="" src="/images/person.png" alt="" srcset="" />
         </div>
      </div>
       <!-- right -->
       <div class="row my-4">
        <div class="col-md-8 offset-2">
           <div class="crosstalk-msg">
             <p>
              僕は海外事業部の話もいいなと思っていて。海外の現地に行ってそこに何
             </br>
             が必要かを探って、あなぶきグループの総合力で課題を解決していくのは
             <br>
             夢があるなと思いました。
             </p>
           </div>
         </div>
         <div class="col-md-2 text-start" >
           <img class="" src="/images/person.png" alt="" srcset="" />
         </div>
      </div>
         <!-- left -->
         <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                やはり当社の強みは、不動産だけではなくて、地域で色々な事業・サービ
              </br>
              スを展開していることだからね。地域の社会課題に対して、どこかでお役
              <br>
              に立てることがある。それに不動産ディベロッパーの中でも、マンション
              <br>
              を建てるエリアに支店を構えて、地に足をつけて営業をするなんて、他の
              <br>
              会社にはないスタイルだと思う。
              </p>
            </div>
          </div>
        </div>
    
    </div>
  </div>
</div>
