<div class="container-fluid py-5" style="margin-top: -4%;">
  <div class="py-2">
    <h1 class="text-center">年代のギャップを超えて、ともに「未来の旅」へ</h1>
    <p class="text-center">
      目の前の課題に奮闘する若手社員と、会社の１００年後も想定しながら組織全体をマネジメントする役員。立場も、キャリアも、年齢
    </p>
    <p class="text-center">
      も違う３名のメンバーに集まっていただき、それぞれが抱える仕事や会社への想いなどを中心にクロストークを開催しました。
    </p>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-4">
          <div class="team-one">
            <div class="team-name text-center">
              <img style="width: 30%" src="/images/person.png" alt="" />
              <h2>松本 伸也</h2>
              <p>Shinya Matsumoto</p>
            </div>
            <div class="position text-center">
              <p>取締役／M＆A推進室　室長</p>
              <p>2003年入社／経済学部卒</p>
            </div>
            <div class="team-content">
              <p>宮城県仙台市で生まれ、全国各地を転々。</p>
              <p>その中でも一番長く住んだのは岡山市。</p>
              <p>マンション営業を１年半ほど経験してか</p>
              <p>らM＆A推進室へ異動。その後も社長直</p>
              <p>轄の経営企画室でキャリアを重ねる。小</p>
              <p>中高と野球少年で、今でも東京にいる高</p>
              <p>校の同級生たちと草野球を楽しむ。</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-one">
            <div class="team-name text-center">
              <img style="width: 30%" src="/images/person.png" alt="" />
              <h2>松本 伸也</h2>
              <p>Shinya Matsumoto</p>
            </div>
            <div class="position text-center">
              <p>取締役／M＆A推進室　室長</p>
              <p>2003年入社／経済学部卒</p>
            </div>
            <div class="team-content">
              <p>宮城県仙台市で生まれ、全国各地を転々。</p>
              <p>その中でも一番長く住んだのは岡山市。</p>
              <p>マンション営業を１年半ほど経験してか</p>
              <p>らM＆A推進室へ異動。その後も社長直</p>
              <p>轄の経営企画室でキャリアを重ねる。小</p>
              <p>中高と野球少年で、今でも東京にいる高</p>
              <p>校の同級生たちと草野球を楽しむ。</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-one">
            <div class="team-name text-center">
              <img style="width: 30%" src="/images/person.png" alt="" />
              <h2>松本 伸也</h2>
              <p>Shinya Matsumoto</p>
            </div>
            <div class="position text-center">
              <p>取締役／M＆A推進室　室長</p>
              <p>2003年入社／経済学部卒</p>
            </div>
            <div class="team-content">
              <p>宮城県仙台市で生まれ、全国各地を転々。</p>
              <p>その中でも一番長く住んだのは岡山市。</p>
              <p>マンション営業を１年半ほど経験してか</p>
              <p>らM＆A推進室へ異動。その後も社長直</p>
              <p>轄の経営企画室でキャリアを重ねる。小</p>
              <p>中高と野球少年で、今でも東京にいる高</p>
              <p>校の同級生たちと草野球を楽しむ。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
