<div class="container-fluid crosstalk-chat py-5">
 
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="text-center">EPISODE 01</p>
        <h2 class="text-center">お互いの印象</h2>
        <!-- left -->
        <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                修ちゃん（上原）は、新卒の頃からずっと変わらないよね。理系男子とい
                <br>うか、いつも冷静で、何を質問しても的確に答えてくれて賢い人だなって。
              </p>
            </div>
          </div>
        </div>
        <!-- right -->
        <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  たしかに最初から賢そうだった。新人研修のときも割と前に出て発表して
                 </br>
                 たし。
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>

                <!-- right -->
        <div class="row my-4">
          <div class="col-md-8 offset-2">
             <div class="crosstalk-msg">
               <p>
                賢いっていうより、思ったことをすぐ口にしちゃうタイプで。そういう意
               </br>
               味でも、本間のように周りとのバランスを見て、一見おちゃらけているん
               <br>
               だけど、芯を食った言い方ができるのが羨ましいな、と。
               </p>
             </div>
           </div>
           <div class="col-md-2 text-start" >
             <img class="" src="/images/person.png" alt="" srcset="" />
           </div>
        </div>

         <!-- left -->
         <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                マーくん（本間）は、外見どおり本当に優しい。怒っているの見たことな
                <br>いけど、一度新人のときに喧嘩したよね。
              </p>
            </div>
          </div>
        </div>
                  
           <!-- right -->
           <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  そうなの？
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>       
       <!-- right -->
       <div class="row my-4">
        <div class="col-md-8 offset-2">
           <div class="crosstalk-msg">
             <p>
              ゆっけ（横田）って、ふわふわしてそうなんだけど、新人のとき同じ配属
              <br>先で、営業のロープレをやっても「恥ずかしい〜」て言いながらバリバリ
              <br>できちゃうの。だから契約も１年目からトントン拍子に取れて…
             </p>
           </div>
         </div>
         <div class="col-md-2 text-start" >
           <img class="" src="/images/person.png" alt="" srcset="" />
         </div>
      </div>    

         <!-- left -->
         <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                当時マーくんはなかなか結果が追いついてこなくて、でも私が「できる、
                <br>できる」って言い続けていたら、マーくんにキレられて（笑）。「お前はで
                <br> きる奴だからそんなこと言えるんだ！」って。マーくんが怒っているのを
                <br>見たの、あれが最初で最後。
              </p>
            </div>
          </div>
        </div>

           <!-- right -->
       <div class="row my-4">
        <div class="col-md-8 offset-2">
           <div class="crosstalk-msg">
             <p>
              今では笑い話だけどね。
             </p>
           </div>
         </div>
         <div class="col-md-2 text-start" >
           <img class="" src="/images/person.png" alt="" srcset="" />
         </div>
      </div>    


          <!-- left -->
          <div class="row my-4">
            <div class="col-md-2 text-end" >
              <img class="" src="/images/person.png" alt="" srcset="" />
            </div>
            <div class="col-md-8">
              <div class="crosstalk-msg">
                <p>
                  だけど、同期って本当に助かる存在。契約関連の専門的なことで分からな
                  <br>いことがあっても、修ちゃんなら教えてくれるかも！って連絡したり。
                </p>
              </div>
            </div>
          </div>
       
           <!-- right -->
           <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  あった、あった。なんで俺のところに電話してくるんだろ？と思ってた。
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>            
         <!-- left -->
         <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                マーくんはチームが変わっても相談にのってくれるし。どうしたの？って、
                <br>ゆっくり話を聞いてもらって。みんなに支えてもらっているから、今まで
                <br>頑張れているんだと思う。
              </p>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
  