<div class="container-fluid crosstalk-chat py-5">
 
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="text-center">EPISODE 03</p>
        <h2 class="text-center">すべては「人」が関わること</h2>
           <!-- right -->
           <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  松本さんに相談したいことがあります。人事部になって本当に当社の魅力
                 </br>
                 は「人の良さ」だなと感じるんですけど、それを学生さんに伝えるのが難
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>
        <!-- left -->
        <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                当社の人の良さって、そもそもトップの社長が怒らないし、全員がそれを
                <br>見て育っているから、社員に滲み出ているんだよね。社長との距離の近さ
                <br>も他の会社では考えられないと思う。昔はモデルルームに栄養ドリンクを
                <br>差し入れに行ったりもしていたし。
              </p>
            </div>
          </div>
        </div>
        <!-- right -->
        <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  すごいですね。先輩や上司との近さは感じますけど、社長もそうなんです
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>
          <!-- left -->
        <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                私も役員になったからには若手の社員とも意見交換会を開いて、今の会社
              </br>
              の考え方だったり、方向性についての話をさせてもらいたいなと考えてい
              </p>
            </div>
          </div>
        </div>
         <!-- right -->
         <div class="row my-4">
          <div class="col-md-8 offset-2">
             <div class="crosstalk-msg">
               <p>
                それはどうしてですか？
               </p>
             </div>
           </div>
           <div class="col-md-2 text-start" >
             <img class="" src="/images/person.png" alt="" srcset="" />
           </div>
        </div>
            <!-- left -->
            <div class="row my-4">
              <div class="col-md-2 text-end" >
                <img class="" src="/images/person.png" alt="" srcset="" />
              </div>
              <div class="col-md-8">
                <div class="crosstalk-msg">
                  <p>
                    会社って理想をしっかり語っていかないと、社員が迷ってしまうから。役
                  </br>
                  員だけが「未来の旅」と掲げたところで、社員みんなでやっていかなくて
                  <br>
                  はいけないわけだから、その方向性をしっかり共有する必要があると思う。
                  </p>
                </div>
              </div>
            </div>
         <!-- right -->
         <div class="row my-4">
          <div class="col-md-8 offset-2">
             <div class="crosstalk-msg">
               <p>
                今後の海外事業も考えると、いかにそこにマッチした人材を採用できるか <br>
                もありますよね。
               </p>
             </div>
           </div>
           <div class="col-md-2 text-start" >
             <img class="" src="/images/person.png" alt="" srcset="" />
           </div>
        </div>
         <!-- left -->
         <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                あとは、ひとつの事業で終わる人材ではなくて、次のステップにも挑戦で
              </br>
              から頼られる存在になることが目標です。若いチームなんで、なおさら頑
              <br>
              張りたいんです。
              </p>
            </div>
          </div>
        </div>
         <!-- right -->
         <div class="row my-4">
          <div class="col-md-8 offset-2">
             <div class="crosstalk-msg">
               <p>
                私もとにかく今は採用です。将来やりたいことが分からない学生さんにも、
               </br>
               「未来の旅」に向けたこの会社で得られる成長をしっかり伝えていきたい
               </p>
             </div>
           </div>
           <div class="col-md-2 text-start" >
             <img class="" src="/images/person.png" alt="" srcset="" />
           </div>
        </div>
           <!-- left -->
           <div class="row my-4">
            <div class="col-md-2 text-end" >
              <img class="" src="/images/person.png" alt="" srcset="" />
            </div>
            <div class="col-md-8">
              <div class="crosstalk-msg">
                <p>
                  熱い想いを持ったお二人に、これからも期待しています！
                </p>
              </div>
            </div>
          </div>
      
      </div>
    </div>
  </div>
  