<div class="container-fluid crosstalk-chat py-5">
 
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="text-center">EPISODE 01</p>
        <h2 class="text-center">お互いの印象</h2>
        <!-- left -->
        <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                就活のときは、何か特別にやりたいことがあったわけではなくて、働きや
                <br>すそうな会社を探していたんだけど、あなぶき興産は説明会から全然他と
                <br>は違っていてフランクな雰囲気だったなぁと。
              </p>
            </div>
          </div>
        </div>
        <!-- right -->
        <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                   修ちゃん（上原）は、新卒の頃からずっと変わらないよね。理系男子とい
                 </br>
                   うか、いつも冷静で、何を質問しても的確に答えてくれて賢い人だなって。
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>
        <!-- left -->
        <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                一般的な不動産会社とは雰囲気が違うよね。うちは個人よりチームでどう
                <br>目標を達成するかを大事にしているところもあるし。
              </p>
            </div>
          </div>
        </div>
         <!-- right -->
         <div class="row my-4">
          <div class="col-md-8 offset-2">
             <div class="crosstalk-msg">
               <p>
                僕もこの業界って毎年結果を出さないと厳しいイメージがありましたけ
               </br>
               ど、実際は全然怒られることもないですし、僕なんか初契約まで周りより
               <br>
               すごく時間かかったんですけど…
               </p>
             </div>
           </div>
           <div class="col-md-2 text-start" >
             <img class="" src="/images/person.png" alt="" srcset="" />
           </div>
        </div>
     <!-- right -->
     <div class="row my-4">
      <div class="col-md-8 offset-2">
         <div class="crosstalk-msg">
           <p>
            私も１年目のときは西島くんより遅かったぐらいで、１年前の自分と重な
            <br>
            る部分があって二人でよく励ましあったね。
           </p>
         </div>
       </div>
       <div class="col-md-2 text-start" >
         <img class="" src="/images/person.png" alt="" srcset="" />
       </div>
    </div>
      <!-- left -->
      <div class="row my-4">
        <div class="col-md-2 text-end" >
          <img class="" src="/images/person.png" alt="" srcset="" />
        </div>
        <div class="col-md-8">
          <div class="crosstalk-msg">
            <p>
              契約に関してはタイミングもあるから。私の場合は契約まで周りの先輩が
              <br>サポートしてくれて、すごくありがたかった。それに実は契約がゴールで
              <br>はなくて、契約した後の方がお客様の気持ちって上がっていくから、そこ
              <br>に伴走して引き渡しまでしっかりやっていくことが大事だなって。
            </p>
          </div>
        </div>
      </div>
       <!-- right -->
     <div class="row my-4">
      <div class="col-md-8 offset-2">
         <div class="crosstalk-msg">
           <p>
            確かにそうですね。僕はお客様が悩まれているときに、納得のいく提案を
            <br>
            することで、その背中を押してあげられたときにやりがいを感じますけど、
            <br>
            そこからがお客様にとってはスタートなんですよね。本当に山口さん、勉
            <br>
            強になります。
           </p>
         </div>
       </div>
       <div class="col-md-2 text-start" >
         <img class="" src="/images/person.png" alt="" srcset="" />
       </div>
    </div>
      
      </div>
    </div>
  </div>
  