<div class="container-fluid py-5" style="margin-top: -6%">
  <div class="py-2">
    <p class="text-center">同期メンバーのオンライン座談会</p>
    <h1 class="text-center">どんなときも、支えてくれる人がいる。</h1>
    <p class="text-center">
      同じ年に入社して、現在は香川・徳島・埼玉とぞれぞれの場所で活躍する同期３名。エリアが離れても同期会などで顔を合わす機会が
      <br />あったり、オフにBBQに行ったり。仲の良い同期組から、中堅社員となった今だから言えることなど、オンラインでぶっちゃけてもらい
      <br />ました。
    </p>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-4">
          <div class="team-one">
            <div class="team-name text-center">
              <img style="width: 30%" src="/images/person.png" alt="" />
              <h2>上原　修</h2>
              <p>Osamu Uehara</p>
            </div>
            <div class="position text-center">
              <p>内部監査</p>
              <p>2007年入社／工学部卒</p>
            </div>
            <div class="team-content">
              <p>
                香川県出身。あなぶきグループの堅実か
                <br />つ攻める姿勢をトップメッセージから感
                <br />じて入社を決意。マンション営業を３ヶ
                <br />月経験してから、あなぶき不動産流通（仲
                <br />介）へ出向。その後は、財務部や契約ま
                <br />わりの対応などを専門とした業務担当を
                <br />経て、内部監査へと異動した。
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-one">
            <div class="team-name text-center">
              <img style="width: 30%" src="/images/person.png" alt="" />
              <h2>横田 幸枝</h2>
              <p>Yukie Yokota</p>
            </div>
            <div class="position text-center">
              <p>マンション開発</p>
              <p>2007年入社／国際関係法学部卒</p>
            </div>
            <div class="team-content">
              <p>
                香川県出身。大学で神戸に進学後、四国
                <br />で働きたいとUターンであなぶき興産に
                <br />入社。マンション営業として約１３年勤
                <br />め、出産を機にマンション開発として復 <br />帰。
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-one">
            <div class="team-name text-center">
              <img style="width: 30%" src="/images/person.png" alt="" />
              <h2>本間 正憲</h2>
              <p>Masanori Honda</p>
            </div>
            <div class="position text-center">
              <p>マンション営業 <br />2007年入社／経済学部卒</p>
            </div>
            <div class="team-content">
              <p>山口県出身。小学校から大学までサッカー
                <br>に没頭。あなぶき興産の会社説明会での
                <br>アットホームな雰囲気に惹かれて入社を
                <br>アットホームな雰囲気に惹かれて入社を
                <br>決めた。マンション営業からスタートし
                <br>て、一時期は上原さんと同じ財務部にい
                <br>たことも。四国から関東へと渡り歩き、
                <br>現在は埼玉エリアの営業担当。
              </p>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
