<div class="container-fluid crosstalk-chat py-5">
 
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p class="text-center">EPISODE 01</p>
      <h2 class="text-center">イメージとのギャップについて</h2>
      <!-- left -->
      <div class="row my-4">
        <div class="col-md-2 text-end" >
          <img class="" src="/images/person.png" alt="" srcset="" />
        </div>
        <div class="col-md-8">
          <div class="crosstalk-msg">
            <p>
              今日は根本くんとは初めましてですね。
            </p>
          </div>
        </div>
      </div>
      <!-- right -->
      <div class="row my-4">
          <div class="col-md-8 offset-2">
             <div class="crosstalk-msg">
               <p>
                 修ちゃん（上原）は、新卒の頃からずっと変わらないよね。理系男子とい
               </br>
                 うか、いつも冷静で、何を質問しても的確に答えてくれて賢い人だなって。
               </p>
             </div>
           </div>
           <div class="col-md-2 text-start" >
             <img class="" src="/images/person.png" alt="" srcset="" />
           </div>
        </div>
        <!-- left -->
      <div class="row my-4">
        <div class="col-md-2 text-end" >
          <img class="" src="/images/person.png" alt="" srcset="" />
        </div>
        <div class="col-md-8">
          <div class="crosstalk-msg">
            <p>
              修ちゃん（上原）は、新卒の頃からずっと変わらないよね。理系男子とい
            </br>
              うか、いつも冷静で、何を質問しても的確に答えてくれて賢い人だなって。
            </p>
          </div>
        </div>
      </div>
       <!-- right -->
       <div class="row my-4">
        <div class="col-md-8 offset-2">
           <div class="crosstalk-msg">
             <p>
               修ちゃん（上原）は、新卒の頃からずっと変わらないよね。理系男子とい
             </br>
               うか、いつも冷静で、何を質問しても的確に答えてくれて賢い人だなって。
             </p>
           </div>
         </div>
         <div class="col-md-2 text-start" >
           <img class="" src="/images/person.png" alt="" srcset="" />
         </div>
      </div>
       <!-- right -->
       <div class="row my-4">
        <div class="col-md-8 offset-2">
           <div class="crosstalk-msg">
             <p>
               修ちゃん（上原）は、新卒の頃からずっと変わらないよね。理系男子とい
             </br>
               うか、いつも冷静で、何を質問しても的確に答えてくれて賢い人だなって。
             </p>
           </div>
         </div>
         <div class="col-md-2 text-start" >
           <img class="" src="/images/person.png" alt="" srcset="" />
         </div>
      </div>
       <!-- right -->
       <div class="row my-4">
        <div class="col-md-8 offset-2">
           <div class="crosstalk-msg">
             <p>
               修ちゃん（上原）は、新卒の頃からずっと変わらないよね。理系男子とい
             </br>
               うか、いつも冷静で、何を質問しても的確に答えてくれて賢い人だなって。
             </p>
           </div>
         </div>
         <div class="col-md-2 text-start" >
           <img class="" src="/images/person.png" alt="" srcset="" />
         </div>
      </div>
         <!-- left -->
         <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                修ちゃん（上原）は、新卒の頃からずっと変わらないよね。理系男子とい
              </br>
                うか、いつも冷静で、何を質問しても的確に答えてくれて賢い人だなって。
              </p>
            </div>
          </div>
        </div>
    
    </div>
  </div>
</div>
