<div class="container-fluid crosstalk-chat py-5">
 
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="text-center">EPISODE 02</p>
        <h2 class="text-center">１００周年に向けた「未来の旅」とは</h2>
      
        <!-- right -->
        <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  今、悩んでいることがあって、それは東日本エリアにおける当社の知名度
                 </br>
                 なんです。西日本ではディベロッパーとして最大級なので名前が知られて
                 <br>
                 いますけど、東日本の学生にはまだまだ「あなぶき興産」の知名度がない
                 <br>
                 のが、採用でも課題を感じている部分で…。
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>
            <!-- right -->
        <div class="row my-4">
          <div class="col-md-8 offset-2">
             <div class="crosstalk-msg">
               <p>
                僕も東京出身ですけど、学生時代は「あなぶき」の名前は知らなかったで
               </br>
               すね。
               
               </p>
             </div>
           </div>
           <div class="col-md-2 text-start" >
             <img class="" src="/images/person.png" alt="" srcset="" />
           </div>
        </div>
         <!-- left -->
         <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                おっしゃる通り、地域での課題解決力はうちの強みだけど、これまでは都
              </br>
              会でビジネスをあまりしてこなかった。それも含めて、じゃあ今後この会
              <br>
              社がどう進んでいくかを示したのが「未来の旅プロジェクト」なんだよ。
              </p>
            </div>
          </div>
        </div>
    
       
         <!-- right -->
         <div class="row my-4">
          <div class="col-md-8 offset-2">
             <div class="crosstalk-msg">
               <p>
                そのプロジェクトについて詳しく教えてもらってもいいですか？
               </p>
             </div>
           </div>
           <div class="col-md-2 text-start" >
             <img class="" src="/images/person.png" alt="" srcset="" />
           </div>
        </div>
          <!-- left -->
          <div class="row my-4">
            <div class="col-md-2 text-end" >
              <img class="" src="/images/person.png" alt="" srcset="" />
            </div>
            <div class="col-md-8">
              <div class="crosstalk-msg">
                <p>
                  「未来の旅」は、あなぶきグループが創立１０１周年を迎える２０６５年
                </br>
                に向けて、新しいアイデアでわくわくする事業を創出していきましょう、
                <br>
                というプロジェクト。数字的なテーマを簡単に言えば、２０６５年に売上
                <br>
                １兆円。国内５０００億円、海外５０００億円という比率のポートフォリ
                <br>
                オを描いています。
                </p>
              </div>
            </div>
          </div>
         <!-- right -->
         <div class="row my-4">
          <div class="col-md-8 offset-2">
             <div class="crosstalk-msg">
               <p>
                これ会社説明会で聞いたとき、自分では想像できなくて。会社ってこうい
               </br>
               う規模感で動いていくんだなと感嘆しました。
               </p>
             </div>
           </div>
           <div class="col-md-2 text-start" >
             <img class="" src="/images/person.png" alt="" srcset="" />
           </div>
        </div>
         <!-- right -->
         <div class="row my-4">
          <div class="col-md-8 offset-2">
             <div class="crosstalk-msg">
               <p>
                海外進出はワクワクしますね。ハワイ支店とかもいいんじゃないですか？
               </p>
             </div>
           </div>
           <div class="col-md-2 text-start" >
             <img class="" src="/images/person.png" alt="" srcset="" />
           </div>
        </div>
          <!-- right -->
          <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  それは異動の応募が殺到しそう（笑）。
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>
           <!-- left -->
           <div class="row my-4">
            <div class="col-md-2 text-end" >
              <img class="" src="/images/person.png" alt="" srcset="" />
            </div>
            <div class="col-md-8">
              <div class="crosstalk-msg">
                <p>
                  ハワイは分からないけど、いいね（笑）、例えば介護施設が足りないとか、
                </br>
                医療が逼迫されているとか、海外でも地域ごとに何かしらの課題があるは
                <br>
                ずで、それを解決していける事業をつくることが重要だと思う。既存の事
                <br>
                業を深掘りするのでも、掛け合わせるのでもいいけど、新たな事業を創り
                <br>
                出して、世界中の地域の課題を解決していこうという流れだね。
                </p>
              </div>
            </div>
          </div>
      
      </div>
    </div>
  </div>
  