<div class="container-fluid crosstalk-chat py-5">
 
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="text-center">EPISODE 02</p>
        <h2 class="text-center">キャリアについて</h2>
         <!-- right -->
         <div class="row my-4">
          <div class="col-md-8 offset-2">
             <div class="crosstalk-msg">
               <p>
                修ちゃん（上原）は、新卒の頃からずっと変わらないよね。理系男子とい
               </br>
               が変わるじゃない？ゆっけと本間は長い間同じ営業所で働いていたの？
               </p>
             </div>
           </div>
           <div class="col-md-2 text-start" >
             <img class="" src="/images/person.png" alt="" srcset="" />
           </div>
        </div>
    
        <!-- left -->
        <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                最初の配属先が同じで、その後も四国内では同じ物件を担当することが多
                <br>かったかな。ただ、マーくんは３０歳超えてから関東支社に行くって聞い
                <br>て、縁もゆかりもない土地に行く勇気がすごいなぁと。
              </p>
            </div>
          </div>
        </div>
         <!-- right -->
         <div class="row my-4">
          <div class="col-md-8 offset-2">
             <div class="crosstalk-msg">
               <p>
                最初の配属先が同じで、その後も四国内では同じ物件を担当することが多
               </br>
               かったかな。ただ、マーくんは３０歳超えてから関東支社に行くって聞い
               <br>て、縁もゆかりもない土地に行く勇気がすごいなぁと。
               </p>
             </div>
           </div>
           <div class="col-md-2 text-start" >
             <img class="" src="/images/person.png" alt="" srcset="" />
           </div>
        </div>
          <!-- right -->
          <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  俺も色々やってみたいタイプなんだけど、上司がそれを察してくれて、次
                 </br>
                 そもそもマンション営業も３ヶ月だけやって、グループ会社に出向して、
                 <br>それから本社に行って、営業所のサポート業務も担当して、仕事に飽きる
                 <br>暇がないというか。
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>
             <!-- right -->
             <div class="row my-4">
              <div class="col-md-8 offset-2">
                 <div class="crosstalk-msg">
                   <p>
                    ゆっけも出産して、子育てをしながら頑張っているのはすごいよね。
                   </p>
                 </div>
               </div>
               <div class="col-md-2 text-start" >
                 <img class="" src="/images/person.png" alt="" srcset="" />
               </div>
            </div>
           <!-- left -->
        <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                正直、復帰するか悩んだこともあって。夫の事情で徳島暮らしだったんだ
                <br>けど、復帰のタイミングに徳島で分譲マンションの販売がなかったんだよ
                <br>ね。営業として復帰するのが難しそうだなってときに、同じように子育て
                <br>している同期の子に相談したら、その子が会社にも掛け合ってくれて、開
                <br>発として戻ることにしたんだ。
              </p>
            </div>
          </div>
        </div>
           <!-- right -->
           <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  そんな経緯があったんだね。開発はどう？
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>

                  <!-- left -->
        <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                仕事の自由度も高いから楽しいよ。今は時短勤務なんだけど、「肩身が狭い」
                <br>という感覚も一切なくて。本当にいい会社に入社したなって。
              </p>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  