<div class="container-fluid crosstalk-chat py-5">
 
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="text-center">EPISODE 03</p>
        <h2 class="text-center">あなぶき興産の魅力とは？</h2>
           <!-- right -->
           <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  四国に本社がある会社だけど、自分から手を挙げれば首都圏で挑戦するこ
                 </br>
                 ともできるし、海外に行ける可能性もある。そんな会社って珍しいんじゃ
                 <br>ないかな？自分が望めばやりたいことが見つかる会社だと思う。
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>
            <!-- right -->
            <div class="row my-4">
              <div class="col-md-8 offset-2">
                 <div class="crosstalk-msg">
                   <p>
                    グループ留学制度もいいよね。グループ会社に出向しても、必ず戻れる「権
                   </br>
                   利」を持ったまま自分の「やってみたい」を満足させられるっていう。一
                   <br>つの会社に所属しながら、複数の会社でキャリアの幅を広げられるなんて
                   <br>他にはないよ。
                   </p>
                 </div>
               </div>
               <div class="col-md-2 text-start" >
                 <img class="" src="/images/person.png" alt="" srcset="" />
               </div>
            </div>
        <!-- left -->
        <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                私はやっぱり同期も含めた「人」が魅力の会社だと思う。育休中でも後輩
                <br>が徳島まで遊びに来てくれて、子どもがいてもOKなように公園ピクニッ
                <br>クをセッティングしてくれたり。オンもオフもみんな仲がいい！
              </p>
            </div>
          </div>
        </div>
      <!-- right -->
      <div class="row my-4">
        <div class="col-md-8 offset-2">
           <div class="crosstalk-msg">
             <p>
              東京の不動産会社とも付き合いあるけど、こんな風通しのいい会社は他に
             </br>
             ないで（笑）。周りに言いたいこと全部言えるし、役員でさえ「あだ名」
             <br>で呼ばれている人もいるし。
          
             </p>
           </div>
         </div>
         <div class="col-md-2 text-start" >
           <img class="" src="/images/person.png" alt="" srcset="" />
         </div>
      </div>
          <!-- left -->
          <div class="row my-4">
            <div class="col-md-2 text-end" >
              <img class="" src="/images/person.png" alt="" srcset="" />
            </div>
            <div class="col-md-8">
              <div class="crosstalk-msg">
                <p>
                  仕事も指示通りにやるんじゃなくて、自由にやらせてもらえるのがいいよ
                  <br>ね。私はマイペースな性格なので、自分のやりたいようにやることができ
                  <br>て、それに結果もついてきて、自分に「自信」を持てるようになったのが
                </p>
              </div>
            </div>
          </div>
            <!-- right -->
      <div class="row my-4">
        <div class="col-md-8 offset-2">
           <div class="crosstalk-msg">
             <p>
              バリバリの体育会系な会社ではないからね。
          
             </p>
           </div>
         </div>
         <div class="col-md-2 text-start" >
           <img class="" src="/images/person.png" alt="" srcset="" />
         </div>
      </div>
       <!-- left -->
       <div class="row my-4">
        <div class="col-md-2 text-end" >
          <img class="" src="/images/person.png" alt="" srcset="" />
        </div>
        <div class="col-md-8">
          <div class="crosstalk-msg">
            <p>
              本当に男女問わず「思いやり」があって、社員の「やってみたい」をなん
              <br>とか叶えてくれようとしてくれる会社だと思う。
              
            </p>
          </div>
        </div>
      </div>
             <!-- right -->
             <div class="row my-4">
              <div class="col-md-8 offset-2">
                 <div class="crosstalk-msg">
                   <p>
                    そんな「あなぶきらしさ」を守っていくために、これからも本社機能を強
                    <br>化していって、強いあなぶきグループを作っていきたいと思っているよ。
                
                   </p>
                 </div>
               </div>
               <div class="col-md-2 text-start" >
                 <img class="" src="/images/person.png" alt="" srcset="" />
               </div>
            </div>
        <!-- right -->
        <div class="row my-4">
          <div class="col-md-8 offset-2">
             <div class="crosstalk-msg">
               <p>
                おお、いいこと言うじゃん。
            
               </p>
             </div>
           </div>
           <div class="col-md-2 text-start" >
             <img class="" src="/images/person.png" alt="" srcset="" />
           </div>
        </div>
        <!-- left -->
       <div class="row my-4">
        <div class="col-md-2 text-end" >
          <img class="" src="/images/person.png" alt="" srcset="" />
        </div>
        <div class="col-md-8">
          <div class="crosstalk-msg">
            <p>
              締まりましたね。さすが賢い修ちゃん！
              
            </p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  