<div class="container-fluid crosstalk-chat py-5">
 
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="text-center">EPISODE 03</p>
        <h2 class="text-center">あなぶきで叶えたい今後の夢</h2>
          <!-- right -->
          <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  将来的な目標は、いつかチームの中で一番私が契約を取って、自分の存在
                 </br>
                 を社内の色々な人に分かってもらえるような営業になりたいです。
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>
           <!-- right -->
           <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  藤原さんって見かけによらず結構熱い一面ありますよね！負けてられな
                 </br>
                 い、頑張らなきゃと刺激をもらってます。僕はこれから後輩も入ってくる
                 <br>
                 立場なんですけど、後輩だけじゃなくて、先輩からも、お客様からも、頼
                 <br>
                 られる人になりたいです。
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>
        <!-- left -->
        <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                私は５年目で中堅になってきたけど、自分のライフプランを考えたとき、
                <br>結婚・育児を経て戻ってくる先輩も多くて、営業と家庭を両立させている
                <br>姿がかっこいいなって。そんな風に自分もキャリアを描きたいと思ってい
              </p>
            </div>
          </div>
        </div>
            <!-- right -->
            <div class="row my-4">
              <div class="col-md-8 offset-2">
                 <div class="crosstalk-msg">
                   <p>
                    不動産業界だからって、女性もキャリアを諦めなくていいというか。特に
                   </br>
                   あなぶき興産は女性の営業も多いし、出産しても戻ってきやすい会社です
                   </p>
                 </div>
               </div>
               <div class="col-md-2 text-start" >
                 <img class="" src="/images/person.png" alt="" srcset="" />
               </div>
            </div>
         <!-- left -->
         <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                それにマンション営業の道だけじゃなくて、あなぶきグループの垣根を越
                <br>えたグループ留学もあるから、あなぶきハウジングで賃貸の仲介をしたり、
                <br>クリエアナブキで人材派遣に関わったり、色々な経験を積めるのはすごく
                <br>魅力的だし、お得だと思う（笑）。
              </p>
            </div>
          </div>
        </div>
          <!-- right -->
          <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  そういうことも年次に関係なくチャレンジさせてくれる会社ですし、何よ
                 </br>
                 りやっぱり「人」が良いですよ。
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>
              <!-- left -->
         <div class="row my-4">
          <div class="col-md-2 text-end" >
            <img class="" src="/images/person.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <div class="crosstalk-msg">
              <p>
                それ！人で嫌な思いをしたメンバーなんて、ほとんどいないんじゃない？
              </p>
            </div>
          </div>
        </div>
          <!-- right -->
          <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  私もこれまで何チームかに所属しましたけど、嫌なチームに入ったことが
                 </br>
                 ないですね。個人戦じゃなくてチームで目標を追いかけているから、すご
                 <br>
                 く雰囲気がいいのかな。
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>
               <!-- left -->
               <div class="row my-4">
                <div class="col-md-2 text-end" >
                  <img class="" src="/images/person.png" alt="" srcset="" />
                </div>
                <div class="col-md-8">
                  <div class="crosstalk-msg">
                    <p>
                      ときにはメンバーで飲み会をしたり、休みの日に遊び行ったりね。
                    </p>
                  </div>
                </div>
              </div>
               <!-- right -->
          <div class="row my-4">
            <div class="col-md-8 offset-2">
               <div class="crosstalk-msg">
                 <p>
                  僕からしたら藤原さん、山口さんは先輩・上司なんで、本来ならもっと気
                 </br>
                 を使わなくてはいけないんですけど、今日も素で話せるんですよね。本当、
                 <br>
                 人間関係に恵まれているなと思います。
                 </p>
               </div>
             </div>
             <div class="col-md-2 text-start" >
               <img class="" src="/images/person.png" alt="" srcset="" />
             </div>
          </div>
      
      </div>
    </div>
  </div>
  