<div class="container-fluid" style="height: 600px">
  <div class="row justify-content-center">
    <div
      class="col-md-8"
      style="
        margin-top: -6%;
        z-index: 100;
        background: #fff;
        padding: 40px 95px;
      "
    >
      <div class="row">
        <div class="col-md-4">
          <img src="/images/career-one-department.png" alt="" srcset="" />
        </div>
        <div class="col-md-8">
          <h2>浪尾 英美</h2>
          <p>Emi Namio</p>
          <p>財務部 財務グループ　2006年入社／商学部卒</p>
          <h2>My Career</h2>
          <div class="row">
            <div class="col-md-2">2006年</div>
            <div class="col-md-10">入社１年目はマンション営業・岡山担当に</div>
          </div>
          <div class="row">
            <div class="col-md-2">2014年</div>
            <div class="col-md-10">マンション営業・広島担当のときに結婚</div>
          </div>
          <div class="row">
            <div class="col-md-2">2016年</div>
            <div class="col-md-10">第一子を授かり、産休・育休へ</div>
          </div>
          <div class="row">
            <div class="col-md-2">2017年</div>
            <div class="col-md-10">復帰して、マンション営業・高松担当に</div>
          </div>
          <div class="row">
            <div class="col-md-2">2020年</div>
            <div class="col-md-10">第二子を授かり、産休・育休へ</div>
          </div>
          <div class="row">
            <div class="col-md-2">2021年　</div>
            <div class="col-md-10">内勤を希望して、財務グループに所属</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
