<div
  class="career-one-episode-three container-fluid position-relative"
  style="height: 800px"
>
  <div class="row">
    <div
      class="col-md-8 border"
      style="background: #fff; position: absolute; left: 18%; top: -54%;padding: 48px 60px;"
    >
      <div class="row">
        <div class="col-md-2 text-end">
          <h2>03</h2>
        </div>
        <div class="col-md-10">
          <p>女性にとってのキャリアとは</p>
          <h2>家庭にも、社会にも、自分の居場所があること。</h2>
        </div>
      </div>
      <p>
        復帰して初めて契約したお客様は、夫婦共働きで男の子のお子様が一人という私と同じ境遇のファミリーでし
        <br>た。自分も子育て中だったので奥様とはマンションの話というよりは子育ての悩みだったり、セールスではな
        <br>いトークをすることで意気投合できました。家にいる時間が一番長いのは奥様なので、その気持ちが分かるの
        <br>も結婚・出産の経験があったからこそかなと思います。
        <br>入社１５年目に第二子を授かってからは、「営業を支える仕事がやりたい」と内勤に希望を出して、財務グルー
        <br>プの所属になりました。これまで現場の最前線で働いていたので、デスクワークに慣れませんが（笑）、家庭の
        <br>状況に合わせて最適なキャリアを考えてくれるのは、当社の大きな魅力ですね。
        <br>もし子どもが産まれたことで仕事を辞めていたとしたら、私の人生は「○○くんのお母さん」で終わっていた
        <br>かもしれません。これまでのキャリアが無くなって、心に穴がぽつんと開いたような感じだったと思います。
        <br>でも女性のキャリアも子どもとの時間も大切にしてくれる環境のおかげで、自分に家族の中でのポジションだ
        <br>けでなく、社会的な立場があるというのは、私にとってすごく大きいことだなと感じます。
      </p>
      
    </div>
  </div>
</div>
