<div class="member-human">
  <div class="container-fluid">
    <h1 class="text-center">CAREER</h1>
    <p class="text-center">キャリアを知る</p>

    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="row">
          <div class="col-md-6">
            <div class="">
              <div class="a-person-one">
                <img class="w-100" src="/images/career-female.png" alt="" />
              </div>
              <h2 class="mt-2">浪尾 英美</h2>
              <p>Emi Namio</p>
              <p>財務部 財務グループ</p>
              <p>2006年入社／商学部卒</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="a-person-two">
              <img class="w-100" src="/images/career-male.png" alt="" />
            </div>
            <div class="">
              <h2 class="mt-2">吉住 駿汰</h2>
              <p>Shunta Yoshizumi</p>
              <p>不動産開発本部 中国支社 岡山支店</p>
              <p>2016年入社／法学部卒</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
