<div class="member-human">
  <div class="container-fluid">
    <h1 class="text-center">CAREER</h1>
    <p class="text-center">キャリアを知る</p>

    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="row">
          <div class="col-md-6">
            <div class="">
              <div class="a-person-one">
                <img class="w-100" src="/images/career-female.png" alt="" />
              </div>
              <h2 class="mt-2">西島 優輝</h2>
              <p>Yuki Nishijima</p>
              <p>マンション営業</p>
              <p>2021年入社／国際経営学部卒</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="a-person-two">
              <img class="w-100" src="/images/career-male.png" alt="" />
            </div>
            <div class="">
              <h2 class="mt-2">中川 瑞基</h2>
              <p>Mizuki Nakagawa</p>
              <p>不動産ソリューション事業部</p>
              <p>2018年入社／法学部卒</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
