<div class="container-fluid" style="height: 600px">
    <div class="row justify-content-center">
      <div
        class="col-md-8"
        style="
          margin-top: -6%;
          z-index: 100;
          background: #fff;
          padding: 40px 95px;
        "
      >
        <div class="row">
          <div class="col-md-4">
            <img src="/images/career-two-department.png" alt="" srcset="" />
          </div>
          <div class="col-md-8">
            <h2>吉住 駿汰</h2>
            <p>Shunta Yoshizumi</p>
            <p>不動産開発本部 中国支社 岡山支店　2016年入社／法学部卒</p>
            <h2>My Career</h2>
            <div class="row">
              <div class="col-md-2">2016年</div>
              <div class="col-md-10">入社後、マンション営業の倉敷・総社を担当</div>
            </div>
            <div class="row">
              <div class="col-md-2">2017年</div>
              <div class="col-md-10">同じ岡山エリア内の津山を担当</div>
            </div>
            <div class="row">
              <div class="col-md-2">2018年</div>
              <div class="col-md-10">広島エリアの広島・福山を担当</div>
            </div>
            <div class="row">
              <div class="col-md-2">2021年</div>
              <div class="col-md-10">開発担当として広島から岡山支店へ</div>
            </div>
            <div class="row">
              <div class="col-md-2">2006年</div>
              <div class="col-md-10">入社１年目はマンション営業・岡山担当に</div>
            </div>
            <div class="row">
              <div class="col-md-2">2006年</div>
              <div class="col-md-10">入社１年目はマンション営業・岡山担当に</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  