<div class="career-one-hero position-relative">
  <%- include("../layout/header")%>

  <div class="position-relative" style="height: 500px">
    <div
      class="text-white"
      style="position: absolute; top: 35%; left: 15%; z-index: 10"
    >
      <span style="background: #066dec; opacity: 0.6; padding: 10px"
        >CAREER</span
      >
      <br />
      <span
        style="
          background: #066dec;
          opacity: 0.6;
          font-size: 40px;
          padding: 0px 10px;
        "
        >女性の働く環境</span
      >
    </div>
    <h2 class="" style="position: absolute;
    top: 55%;
    left: 15%;
    color: #fff;">
        「人生」の選択肢を<br />増やしてくれた場所。
      </h2>
  </div>
</div>
