<div class="container-fluid" style="height: 600px">
  <div class="row justify-content-center">
    <div
      class="col-md-8"
      style="
        margin-top: -6%;
        z-index: 100;
        background: #fff;
        padding: 40px 95px;
      "
    >
      <div class="row">
        <div class="col-md-4">
          <img src="/images/career-one-department.png" alt="" srcset="" />
        </div>
        <div class="col-md-8">
          <h2>浪尾 英美</h2>
          <P>Emi Namio</P>
          <P>財務部 財務グループ　2006年入社／商学部卒</P>
          <h2>My Career</h2>
          <div class="row">
            <div class="col-md-2">2006年</div>
            <div class="col-md-10">入社１年目はマンション営業・岡山担当に</div>
          </div>
          <div class="row">
            <div class="col-md-2">2006年</div>
            <div class="col-md-10">入社１年目はマンション営業・岡山担当に</div>
          </div>
          <div class="row">
            <div class="col-md-2">2006年</div>
            <div class="col-md-10">入社１年目はマンション営業・岡山担当に</div>
          </div>
          <div class="row">
            <div class="col-md-2">2006年</div>
            <div class="col-md-10">入社１年目はマンション営業・岡山担当に</div>
          </div>
          <div class="row">
            <div class="col-md-2">2006年</div>
            <div class="col-md-10">入社１年目はマンション営業・岡山担当に</div>
          </div>
          <div class="row">
            <div class="col-md-2">2006年</div>
            <div class="col-md-10">入社１年目はマンション営業・岡山担当に</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
