<div class="career-one-episode-one position-relative" style="height: 800px">
  <div class="row">
    <div
      class="col-md-5 border bg-white"
      style="position: absolute; top: 16%; left: 12%; padding: 56px 58px"
    >
      <div class="row">
        <div class="col-md-2 text-end">
          <h2>01</h2>
        </div>
        <div class="col-md-10">
          <p>仕事について</p>
          <h2>セールスというよりは <br />生活を提案する営業スタイル</h2>
        </div>
        <p>父親が不動産関連の仕事をしていたこともあって、小さい頃からマン
          <br>ションの間取りなどを見るのが好きでした。そんな環境もあって不動
          <br>産関連のあなぶき興産に入社したのですが、そもそも私自身、初めて
          <br>の人と話すのが苦手という営業向きの性格ではなかったので、１年目
          <br>のマンション営業は不安でいっぱいでした。
          <br>ただ、配属になったチームの約半数が女性で、分からないことがあっ
          <br>ても質問しやすい雰囲気だったのは安心材料のひとつでした。仕事が
          <br>楽しくなってきたのは１年目の秋ぐらい。一人でお客様をご案内して、
          <br>契約までできるようになって初めて仕事の面白さを体感できたように
          <br>思います。
          <br>それから１０年以上、マンション営業という仕事を続けることになる
          <br>のですが、営業向きではない私が続けてこられたのは、営業というよ
          <br>り「提案」に近い仕事だったから。
          <br>お客様がマンションギャラリーを訪れるのは今の生活に不満があるか
          <br>らで、「こうしたら今の生活の不満がなくなる、今より快適な生活が送
          <br>れる」ということをどう提案していくか。そういった面でも女性らし
        </p>
     
      </div>
    </div>
  </div>
</div>
