<div class="career-one-episode-two position-relative" style="height: 1000px">
    <div class="row">
      <div
        class="col-md-5 border bg-white"
        style="position: absolute; top: 0%; left: 55%; padding: 56px 58px"
      >
        <div class="row">
          <div class="col-md-2 text-end">
            <h2>02</h2>
          </div>
          <div class="col-md-10">
            <p>働きやすさのサポート</p>
            <h2>職場復帰への「不安」を<br />取り除いてくれたもの。</h2>
          </div>
          <p>入社９年目に結婚をしたのですが、それまではなんとなく「私は結婚
            <br>をしたら仕事を辞めるだろうな」と思っていました。ただ、実際に結婚・
            <br>出産を経て活躍する女性メンバーがいる中で、考え方が次第に変わり、
            <br>結婚後もそのまま営業の仕事を続けることにしました。
            <br>そして子どもを授かって産休・育休の制度を利用させてもらったので
            <br>すが、正直自分が営業として復帰できるのか不安に襲われて、子ども
            <br>の保育園の申し込みの締め切りギリギリまで悩んでいました。そんな
            <br>とき夫からの「そこまで悩むのは続けたい気持ちがあるからじゃない」
            <br>という言葉にハッとさせられました。
            <br>復帰してからは「時短勤務」の制度があったおかげで、保育園のお迎
            <br>えなども無理なく対応できましたね。それに周りのメンバーのサポー
            <br>トが本当にありがたかったです。お客様対応でどうしても抜けられな
            <br>いときでも、チームのメンバーが保育園に子どもを迎えに行ってくれ
            <br>たり、モデルルームで子どもを見てくれたり…すごく助かりました。
          </p>
         
        </div>
      </div>
    </div>
  </div>
  