<div class="career-two-episode-one position-relative" style="height: 800px">
    <div class="row">
      <div
        class="col-md-5 border bg-white"
        style="position: absolute; top: 16%; left: 12%; padding: 56px 58px"
      >
        <div class="row">
          <div class="col-md-2 text-end">
            <h2>01</h2>
          </div>
          <div class="col-md-10">
            <p>マンション営業時代</p>
            <h2>個人戦でなく、チーム戦で <br />自分の未熟さもカバーできた。</h2>
          </div>
          <p>大学在学中に宅建を取得したこともあって、就活では不動産業界を中
            <br>心に考えていました。その中でも、あなぶき興産は事業を幅広くやっ
            <br>ていたので、もし不動産の仕事が自分に向いてなかったとしても、他
            <br>の事業で活躍できるかもしれないという思いもありました。
            <br>“不動産＝ガツガツした数字を競い合う業界”というイメージがなんと
            <br>なくありながらも「不動産営業をやる！」と家族や友人に言ったら驚
            <br>いていました実際のあなぶき興産のマンション営業は思っている以上
            <br>にチーム戦で、個人というよりチームで数字をあげていきましょう！
            <br>という雰囲気だったので、自分の性格的にもストレスなく働けました。
            <br>１年目は、住宅ローンの知識だったり、どういう内装工事ができるの
            <br>かだったり、とにかく知らないことが多すぎて、一つ一つの疑問点を
            <br>先輩に聞いて解決していきました。最初の１年はあっという間に過ぎ
            <br>ていった感覚ですね。２年目から、ひと通りの接客を契約の最後まで
            <br>ひとりで出来るようになって、３年目からは自分だけでなくチーム全
            <br>体のことを少しずつ考えられるようになりました。
          </p>
        
        </div>
      </div>
    </div>
  </div>
  