<div
  class="career-two-episode-three container-fluid position-relative"
  style="height: 800px"
>
  <div class="row">
    <div
      class="col-md-8 border"
      style="background: #fff; position: absolute; left: 18%; top: -54%;padding: 48px 60px;"
    >
      <div class="row">
        <div class="col-md-2 text-end">
          <h2>03</h2>
        </div>
        <div class="col-md-10">
          <p>一流のプロになるために</p>
          <h2>熱意と向上心があれば、若手でも挑戦できる会社。</h2>
        </div>
      </div>
      <p>
        マンション営業のときに、ご契約やお引き渡しでお客様が喜んでくれる姿を直に感じてきたので、そういった
        <br>多くの方々が「笑顔」になれるマンションを作りたいと思っています。
        <br>当社は若手でもチャンスの多い会社で、マンション営業時代も入社２ヶ月でご契約をいただく機会があったり、
        <br>開発になった現在も２０代で億単位のプロジェクトに携わることができています。若手の意見も通りやすい社
        <br>風で、時には役員と一緒に土地を見に行って意見を交わすこともあります。
        <br>これからの目標は、不動産の一流のプロになること。現在は分譲マンション用の土地の仕入れを中心に動いて
        <br>いますが、開発の仕事はマンションだけでなく、ビルや店舗なども含めた不動産全般の仲介や買取再販、収益
        <br>物件など様々な領域のことに関われます。
        <br>不動産の仕事の魅力は、金額も含めたスケールの大きさや様々な「人」とつながっていけることにあると思い
        <br>ます。そんなわくわくする世界に身を置きながら、当社は「こんなことがしたい！」という想いを応援してく
        <br>れる会社なので、一流を目指して色々なことに挑戦していきたいです。
      </p>
      
    </div>
  </div>
</div>
