<div class="career-two-episode-two position-relative" style="height: 1000px">
    <div class="row">
      <div
        class="col-md-5 border bg-white"
        style="position: absolute; top: 0%; left: 55%; padding: 56px 58px"
      >
        <div class="row">
          <div class="col-md-2 text-end">
            <h2>02</h2>
          </div>
          <div class="col-md-10">
            <p>開発担当者として</p>
            <h2>やりがいも、スケールも<br />責任感も大きくなっていく。</h2>
          </div>
          <p>もともと将来的に「開発の仕事をやってみたい」という気持ちがあっ
            <br>たので、異動の希望を出して入社４年目に不動産開発（マンション用
            <br>地仕入れ）にジョブローテーションしました。キャリアの選択肢とし
            <br>ては、マンション営業の仕事を続けて、営業スキルをさらに洗練させ
            <br>ていく道もあったのですが、自分としては不動産の知識の「幅」を広
            <br>げたいと開発を選びました。
            <br>開発の仕事となると、土地の仕入れからどの場所に、どんなタイプの
            <br>マンションを建てるかまでの一連の流れを手がけていくので、大手の
            <br>同業他社さんやあなぶきのグループ会社なども含めて社外の色々な方
            <br>とやり取りする機会が多くなります。そういった知識も経験も豊富な
            <br>人たちとのやり取りを通じて、自分の知識も広がっていくのではとい
            <br>う期待もありました。
            <br>実際に開発の仕事を担当してみると、マンション営業のときのように
            <br>先輩が手厚くフォローするのではなく、基本的に一つの物件に対して
            <br>開発担当者はひとりなので、責任感の大きさを感じましたね。（開発の
            <br>やりがいの話）自分がしっかりやらなければ、たくさんの方々に迷惑
          </p>
         
        </div>
      </div>
    </div>
  </div>
  