<div class="career-two-hero position-relative">
  <%- include("../layout/header")%>

  <div class="position-relative" style="height: 500px">
    <div
      class="text-white"
      style="position: absolute; top: 35%; left: 15%; z-index: 10"
    >
      <span style="background: #066dec; opacity: 0.6; padding: 10px"
        >HUMAN</span
      >
      <br />
      <span
        style="
          background: #066dec;
          opacity: 0.6;
          font-size: 40px;
          padding: 0px 10px;
        "
        >マンション営業</span
      >
    </div>
    <h2 class="" style="position: absolute; top: 55%; left: 15%; ">
      ひとつのマンションに関わる
      <br>全ての人が
      <br>「幸せ」になる仕事を。
    </h2>
  </div>
</div>
