<div class="company-hero my-4">
  <div class="container-fluid">
    <div class="row my-2">
      <div class="col-md-8 mx-auto d-flex justify-content-center">
        <div class="mx-2 hero-top-message text-center">
          <p>トップメッセージ</p>
          <p>TOP MESSAGE</p>
        </div>
        <div class="mx-2 hero-company-profile text-center">
          <p>会社概要</p>
          <p>COMPANY PROFILE</p>
        </div>
      </div>
    </div>
  </div>
</div>
