<section class="gallery">
    <div class="container-lg">
      <div class="row gy-3 gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div class="col">
          <img
            src="/images/company/1.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//2.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//3.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//4.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//5.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//6.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//7.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//8.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//9.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//10.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//11.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//12.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//13.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//14.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//15.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//16.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//17.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//18.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//19.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//20.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//21.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company//22.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company/23.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
        <div class="col">
          <img
            src="/images/company/24.png"
            class="gallery-item"
            alt="gallery"
          />
        </div>
      </div>
    </div>
  </section>