<div class="container-fluid py-5">
  <div class="row text-center">
    <p>
      これはダミー文章です。その地域に根ざしながら、多様なライフスタイルに応える住まいを。あなぶき興産の中核
      <br />をなす分譲マンション事業では、西日本を代表するマンションブランド「アルファ」シリーズを多ブランド展開し
    </p>
    
  </div>
</div>
