<div class="company-info-two position-relative py-3 container-fluid" style="min-height: 990px">
    <div class="row">
        <div class="col-md-8">
            <img class="w-100" src="/images/company-info-two.png" alt="">
         </div>
        <div class="col-md-6">
           <div class="company-info-two-content" style="background: #fff;
           position: absolute;
           top: -2%;
           left: 52%;
           padding: 30px 26px;">
              <h1 style="margin-top:-60px">02</h1>
              <p>中期経営計画</p>
              <h1>これはダミー文章です。
              <br>キャッチコピーが入ります。</h1>
              <p>-中期ビジョン</p>
              <p>お客様の生涯価値を豊かにする「地域エコシステム※
              <br>の駆動者」たる次世代企業グループとなる
              <br>※あなぶきグループ独自の、地域密着型の多様な商品サービスを提
              <br>供し続けることで、顧客の生涯価値を継続的に高め、その地域での
              <br>競争優位性を保ち長期的に存続していく仕組み
              </p>
             <p>-人材の強化</p>
             <p>両親が飲食店をやっていて、その助けになりたかった 
                <br>
                ので、鳥取に戻ることは決めていました。その中でも、
                <br>
                簿記の資格を活かしたいと思っていたので、鳥取県に
                <br>
                本店を置く唯一の銀行である鳥取銀行を志望しました。
                <br>
                鳥取銀行は地域への貢献度も高いですし、家族と一緒
                <br>
                に暮らせる環境もあるので、やりがいと安心感のある
                <br>
                働き方ができています。
             </p>
           </div>
        </div>
       
      </div>
    </div>
  </div>
  