<div class="company-info-one position-relative py-3" style="height: 990px">
  <div class="row">
      <div class="col-md-4">
         <div class="company-info-one-content" style="background: #fff;
         position: absolute;
         top: 20%;
         left: 12%;
         padding: 30px 26px;">
            <h1 style="margin-top:-60px;">01</h1>
            <p>採用エリア拡大</p>
            <h1>これはダミー文章です。<br>キャッチコピーが入ります。</h1>
            <p>これはダミー文章です。（200文字程度）地域密着型企<br>
              業であることは、あなぶき興産のアイデンティティで<
                <br>す。エリア特性を熟知しているからこそ、分譲マンショ<br>ン事業においても「迅速な土地情報の入手・仕入れ」<br>から「幅広いニーズに対応する商品企画」「お客様の立
              <br>場に立った営業」、そして「充実のアフターメンテンナ<br>ンス」に至るまでの一貫体制を実現。ご購入いただい<br>たマンションの資産価値を守るとともに、地域のトッ<br>プブランドを目指して取り組み続けています。</p>
         </div>
      </div>
      <div class="col-md-8">
         <img class="w-100" src="/images/company-info-one.png" alt="">
      </div>
    </div>
  </div>
</div>
