<section class="company-profile">
  <div class="container-fluid py-5">
    <h1 class="text-center">COMPANY PROFILE</h1>
    <p class="text-center">会社概要</p>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="row a-border-bottom mt-3">
          <div class="col-md-4">
            <p>商号</p>
          </div>
          <div class="col-md-8">
            <p>穴吹興産株式会社（ANABUKI KOSAN INC.）</p>
          </div>
        </div>
        <div class="row a-border-bottom mt-3">
          <div class="col-md-4">
            <p>本社</p>
          </div>
          <div class="col-md-8">
            <p>〒760-0028 香川県高松市鍛冶屋町7-12　TEL：(087)822-3567（代）</p>
          </div>
        </div>
        <div class="row a-border-bottom mt-3">
          <div class="col-md-4">
            <p>設立</p>
          </div>
          <div class="col-md-8">
            <p>1964年５月25日</p>
          </div>
        </div>
        <div class="row a-border-bottom mt-3">
          <div class="col-md-4">
            <p>免許・登録</p>
          </div>
          <div class="col-md-8">
            <p>
              宅地建物取引業免許　国土交通大臣免許（10）第3300号
              <br />特定建設業許可　香川県知事許可（特-1）第5547号
              <br />一級建築士事務所登録　香川県知事登録第1847号
              <br />一般不動産投資顧問業登録　国土交通大臣登録　一般－第378号
              <br />第二種金融商品取引業登録　四国財務局長登録（金商）第12号
              <br />不動産特定共同事業許可　香川県知事許可　第1号
            </p>
          </div>
        </div>
        <div class="row a-border-bottom mt-3">
          <div class="col-md-4">
            <p>資本金</p>
          </div>
          <div class="col-md-8">
            <p>資本金755百万円</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <p>支店・営業所</p>
          </div>
          <div class="col-md-8">
            <p>
              東四国 / 高知 / 松山 / 岡山 / 広島 / 山口 / 山陰 / 大阪 / 姫路 /
              三重 / <br />関東 / 長野 / 静岡 / 新潟 / 宇都宮 / 高崎 / 北部九州
              / 長崎 / 熊本 / 南九州 / 沖縄
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
