<div class="member-hero member-bg">
    <div class="member-human">
      <div class="row">
        <div class="col-md-4 d-flex flex-column justify-content-center">
          <h1>COMPANY</h1>
          <p>会社を知る</p>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-5">
                  <img class="w-100" src="/images/company-hero-one.jpg" />
                </div>
                <div class="col-md-7 d-flex flex-column justify-content-center">
                  <p>マンション営業</p>
                  <a  style="color: #000;
                  text-decoration: none;" href="/company/info">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-5">
                  <img class="w-100" src="/images/company-hero-two.jpg" />
                </div>
                <div class="col-md-7 d-flex flex-column justify-content-center">
                  <p>マンション営業</p>
                  <a  style="color: #000;
                  text-decoration: none;" href="/company/strategy">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-5">
                  <img class="w-100" src="/images/company-hero-three.jpg" />
                </div>
                <div class="col-md-7 d-flex flex-column justify-content-center">
                  <p>マンション営業</p>
                  <a  style="color: #000;
                  text-decoration: none;" href="/company/photo">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="member-human-bottom">
      <div class="row h-100">
          <div class="col-md-3 text-white d-flex align-items-end">
            <p>© ANABUKI KOSAN INC.</p>
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-3 d-flex justify-content-end align-items-end">
            <div class="hexa">
              <p>新卒採用</p>
              <p>ムービー公開中！</p>
              <img src="/images/play-arrow.svg" alt="" />
              <p>PLAY MOVIE</p>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
  </div>
  