<footer>
  <div class="container-fluid py-4 px-4">
    <!-- footer -->
    <div class="row">
       <div class="col-md-8 mx-auto">
        <div class="row">
          <div class="col-md-3">
            <div>
              <img src="/images/logo.svg" alt="" />
              <p class="mt-3 mb-5">RECRUITING ITE</p>
              <a class="my-page-button" href="#">my page</a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="company">
              <h4>COMPANY</h4>
              <p>ー あなぶき興産の戦略</p>
              <p>ー 会社情報</p>
              <p>ー 会社情報</p>
            </div>
            <div class="team">
              <h4>TEAM</h4>
              <p>ー クロストーク01</p>
              <p>ー クロストーク01</p>
              <p>ー クロストーク01</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="human">
              <h4>HUMAN</h4>
              <p>ー あなぶき興産の戦略</p>
              <p>ー 会社情報</p>
              <p>ー 会社情報</p>
            </div>
            <div class="recruit">
              <h4>RECRUIT</h4>
              <p>ー クロストーク01</p>
              <p>ー クロストーク01</p>
              <p>ー クロストーク01</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="career">
              <h4>CAREER</h4>
              <p>ー あなぶき興産の戦略</p>
              <p>ー 会社情報</p>
              <p>ー 会社情報</p>
            </div>
            <div class="team">
              <h4>FAQ</h4>
            </div>
          </div>
        </div>
       </div>
    </div>
    <!-- footer bottom -->
    <div class="row" style="padding:0 200px">
      <div class="col-md-6">
        <p>CORPORATE SITE <span>|</span>PRIVACY POLICY</p>
      </div>
      <div class="col-md-6 text-end">
        <small>© Anabuki Kosan inc. All right reserved.</small>
      </div>
    </div>
  </div>
</footer>
