<div class="home-hero home-bg">
  <div class="h-100 d-flex flex-column justify-content-end">
    <div class="row">
      <div class="col-md-3 text-white d-flex align-items-end">
        <p>© ANABUKI KOSAN INC.</p>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-3 d-flex justify-content-end">
        <div class="hexa">
          <p>新卒採用</p>
          <p>ムービー公開中！</p>
          <img src="/images/play-arrow.svg" alt="" />
          <p>PLAY MOVIE</p>
        </div>
      </div>
    </div>
  </div>
</div>
