<div class="top-message">
  <div class="container-fluid">
    <div class="row text-white top-message-upper" >
       <div class="col-md-12 pe-0">
       <div class="top-message-upper-text">
        <h1>TOP </br>MESSAGE</h1>
        <p>トップメッセージ</p>
        <div>
          <p>穴吹興産株式会社 代表取締役社長</p>
          <h3>穴吹 忠嗣</h3>
        </div>
       </div>
   
     <div class="text-end">
      <img style="width:75%" src="/images/top-message.png" alt="" srcset="">
  
     </div>
       </div>
    </div>
    <div class="row">

      <div class="col-md-8 mx-auto text-white">
        <div>
            <h2>Challenge for</br>あなぶき興産の未来.</h2>
            <p>私があなぶき興産の未来について断言できることは、『今以上にわくわくする会社になる』ということです。なぜな 
            <br>ら、現状維持＝衰退であると考え、50年先、100年先を見据えて、今もなお新しいことに挑戦し続けているからで
            <br>す。
            <br>私たちの使命はなにか。それは、これまでもこれからも、社員のため、お客様のため、地域のために、挑戦を続けると
            <br>いうことです。
            <br>まず一歩踏み出せる人、今を生きられる人、ピンチをチャンスに変えられる人、難しいと分かっていても飛び込め
            <br>る人……年齢や環境に関係なく、そういう社員たちがあなぶき興産を創っています。
            <br>「大きく踏み出した先で失敗した」そんな経験も決して無駄ではありません。失敗したからこそ学べたことも、見え
            <br>たことも必ずあるはず。費やした時間や想い、経験は、お金で買えない財産です。そして、その財産を今に活かし、ま
            <br>た新しい一歩を踏み出せているなら、その挑戦はきっと成功します。
            <br>社員の「やってみなきゃ分からない。やればできる。」を信じて、大きな挑戦を後押しします。
            </p>
            
        </div>
        <div class="top-message-border">

        </div>
        <div class="row">
            <div class="col-md-2">
              <p>Profile</p>
            </div>
            <div class="col-md-10">
               <p>性格は一言でいうと好奇心旺盛。口癖は「時間を大切に」。誰にでも腰が低く挨拶は欠かさない。趣味は釣りで、</br>
                瀬戸内海で釣り上げた80㎝のヒラメをスマホの待受画面にしている。日課はYouTubeを見ること。お気に入</br>
                りの動画は釣り、キャンプ、大谷翔平選手。
            </p>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
