<section class="vision">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>VISION </br>あなぶき興産の戦略</p>
        </div>
        <div class="col-md-6">
            <p>HOME > あなぶき興産の戦略</p>
        </div>
    </div>
    <div class="row">
        <p class="text-center">これはダミー文章です。その地域に根ざしながら、多様なライフスタイルに応える住まいを。あなぶき興産の中核</p>
        <p class="text-center">をなす分譲マンション事業では、西日本を代表するマンションブランド「アルファ」シリーズを多ブランド展開し</p>
    </div>
  </div>
</section>
