<div class="container-fluid recruit-message-hero">
  <%- include("../layout/header")%>
  <div class="position-relative" style="height: 500px">
    <div class="text-white" style="position: absolute; top: 58%; left: 19%">
      <span style="background: #066dec; opacity: 0.6; padding: 10px"
        >WORKPLACE</span
      >
      <br />
      <span
        style="
          background: #066dec;
          opacity: 0.6;
          font-size: 40px;
          padding: 0px 10px;
        "
        >採用メッセージ</span
      >
    </div>
  </div>
  <!-- <div class="row justify-content-center" style="height:100% ;">
      <div class="col-md-10 border border-primary">
        <p>HOME > 採用メッセージ</p>
      </div>
    </div> -->
</div>
