<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <div
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              <img src="/images/q.png" alt="" srcset="" />
              <span class="mx-4"> 社内イベントはありますか？</span>
            </div>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                『夢のたまごグランプリ』という2年に1回開催される社員の皆さんの“アイデア”や“想い“をかたちにし、事業化を目指すイ
              </p>
              <p>ベントを開催しています。</p>
              <p>
                「こんなことをやってみたい」「こういう制度が欲しい」等を、年次問わずにプレゼンすることができます！実際にそこから生
              </p>
              <p>
                まれた事業もあり、社員の経営参画意識を高め、社内の活性化にも繋がっています。
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <div
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              <img src="/images/q.png" alt="" srcset="" />
              <span class="mx-4"> 転勤はありますか？</span>
            </div>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                総合職の場合転勤は伴います。出身地以外に配属になる場合は、会社が寮・社宅（賃貸マンション）を準備します。会社契
              </p>
              <p>
                約ですので、敷金や毎月の家賃の振込は心配いりません。周辺環境や通勤時間も考慮しますので、ご安心ください。
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <div
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              <img src="/images/q.png" alt="" srcset="" />
              <span class="mx-4"> 資格支援等はありますか？ </span>
            </div>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                「宅地建物取引士」の資格については、社内でスクーリングや模擬試験講座など実施しています。また個人でも通信教育・
              </p>
              <p>
                講座を受けたい人は受講料を会社から借りることもできます。取得後に技能手当や資格取得奨励金を支給するなどの制
              </p>
              <p>度が整っていますのでぜひ取得してください。</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <div
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour"
              aria-expanded="false"
              aria-controls="flush-collapseFour"
            >
              <img src="/images/q.png" alt="" srcset="" />
              <span class="mx-4"> 資格支援等はありますか？ </span>
            </div>
          </h2>
          <div
            id="flush-collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              <p>
                全てのグループの｢知｣を結集させて、事業活動やCSR活動を行うことで、
              </p>
              <p>
                地域のお客様に｢次はなんだろう？｣｢いつも期待以上のものを提供してくれる｣
              </p>
              <p>
                という“知”域で生み出す“わくわく感”をお届けします。お客様や地域により必要とされる企業であり続けるために、ワンス
              </p>
              <p>
                トップサービスをお届けるよう様々な業界の会社が所属しています。
              </p>
              <a href="">https://anabuki-group.jp/</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
