<div class="container-fluid mt-4">
<div class="row">
   <div class="col-md-8 mx-auto">
    <!-- list-one -->
    <div class="list">
      <p class="workstyle-btn">制度一覧</p>
      <div class="workstyle-content">
        <div class="row  py-5">
          <div class="col-md-8">
            <div class="row mb-4" style="border-bottom:1px solid #7D7D7D;">
              <h2>グループ留学制度</h2>
              <p>あなぶきグループでは、会社の垣根を越えて、自らのキャリアデザインを実現できる“グループ留学制度”を促</br>進しています。</p>
            </div>
            <div class="row mb-4" style="border-bottom:1px solid #7D7D7D;">
              <h2>グループ留学制度</h2>
              <p>あなぶきグループでは、会社の垣根を越えて、自らのキャリアデザインを実現できる“グループ留学制度”を促</br>進しています。</p>
            </div>
            <div class="row">
              <h2>グループ留学制度</h2>
              <p>あなぶきグループでは、会社の垣根を越えて、自らのキャリアデザインを実現できる“グループ留学制度”を促</br>進しています。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- list two -->
    <div class="list">
      <p class="workstyle-btn">制度一覧</p>
      <div class="workstyle-content">
        <div class="row  py-5">
          <div class="col-md-8">
            <div class="row mb-4" style="border-bottom:1px solid #7D7D7D;">
              <h2>グループ留学制度</h2>
              <p>あなぶきグループでは、会社の垣根を越えて、自らのキャリアデザインを実現できる“グループ留学制度”を促</br>進しています。</p>
            </div>
            <div class="row mb-4" style="border-bottom:1px solid #7D7D7D;">
              <h2>グループ留学制度</h2>
              <p>あなぶきグループでは、会社の垣根を越えて、自らのキャリアデザインを実現できる“グループ留学制度”を促</br>進しています。</p>
            </div>
            <div class="row mb-4" style="border-bottom:1px solid #7D7D7D;">
              <h2>グループ留学制度</h2>
              <p>あなぶきグループでは、会社の垣根を越えて、自らのキャリアデザインを実現できる“グループ留学制度”を促</br>進しています。</p>
            </div>
            <div class="row">
              <h2>グループ留学制度</h2>
              <p>あなぶきグループでは、会社の垣根を越えて、自らのキャリアデザインを実現できる“グループ留学制度”を促</br>進しています。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- list-three -->
    <div class="list">
      <p class="workstyle-btn">制度一覧</p>
      <div class="workstyle-content">
        <div class="row  py-5">
          <div class="col-md-8">
            <div class="row mb-4" style="border-bottom:1px solid #7D7D7D;">
              <h2>グループ留学制度</h2>
              <p>あなぶきグループでは、会社の垣根を越えて、自らのキャリアデザインを実現できる“グループ留学制度”を促</br>進しています。</p>
            </div>
            <div class="row mb-4" style="border-bottom:1px solid #7D7D7D;">
              <h2>グループ留学制度</h2>
              <p>あなぶきグループでは、会社の垣根を越えて、自らのキャリアデザインを実現できる“グループ留学制度”を促</br>進しています。</p>
            </div>
            <div class="row mb-4" style="border-bottom:1px solid #7D7D7D;">
              <h2>グループ留学制度</h2>
              <p>あなぶきグループでは、会社の垣根を越えて、自らのキャリアデザインを実現できる“グループ留学制度”を促</br>進しています。</p>
            </div>
            <div class="row">
              <h2>グループ留学制度</h2>
              <p>あなぶきグループでは、会社の垣根を越えて、自らのキャリアデザインを実現できる“グループ留学制度”を促</br>進しています。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- list-four -->
    <div class="list">
      <p class="workstyle-btn">制度一覧</p>
      <div class="workstyle-content">
        <div class="row  py-5">
          <div class="col-md-8">
           <p>・休日（営業系：火・水、内勤系：土・日・祝）</p>
           <p>・年末年始休暇</p>
           <p>・有給休暇</p>
           <p>・慶弔特別休暇</p>
           <p>・リフレッシュ休暇</p>
           <p>・記念日休暇</p>
           <p>・スクールイベント休暇</p>
          </div>
        </div>
      </div>
    </div>
   </div>
</div>
</div>
