<div class="container-fluid mt-4">
<div class="row">
   <div class="col-md-8 mx-auto">
    <!-- list-one -->
    <div class="list">
      <p class="workstyle-btn">制度一覧</p>
      <div class="workstyle-content">
        <div class="row  py-5">
          <div class="col-md-9">
            <div class="row mb-4" style="border-bottom:1px solid #EDEDED">
              <h2>グループ留学制度</h2>
              <p>あなぶきグループでは、会社の垣根を越えて、自らのキャリアデザインを実現できる“グループ留学制度”を促</br>進しています。</p>
            </div>
            <div class="row mb-4" style="border-bottom:1px solid #EDEDED">
              <h2>ジョブローテーション</h2>
              <p>期限などの条件がありますが、内勤・営業など職種に関係なく実施しており、自身のキャリアを考え、スキルアッ</br>プの機会にもなっています。</p>
            </div>
            <div class="row">
              <h2>夢のたまごグランプリ</h2>
              <p>2年に1度開催されるあなぶきグループの新規事業提案会。将来を担う事業を企画・提案するチャンスとして実施。アイ</br>デアが新規事業として採用された例もあります。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- list two -->
    <div class="list">
      <p class="workstyle-btn">研修・教育</p>
      <div class="workstyle-content">
        <div class="row  py-5">
          <div class="col-md-10">
            <div class="row mb-4" style="border-bottom:1px solid #EDEDED">
              <h2>フォローアップ研修</h2>
              <p>1年に2回、新入社員の配属後のフォローアップを行う研修。2回とも同じ講師が担当し、入社直後と入社半年</br>後の自身の成長や新たな課題に向き合う機会となります。</p>
            </div>
            <div class="row mb-4" style="border-bottom:1px solid #EDEDED;">
              <h2>2～3年目研修</h2>
              <p>2年目・3年目にそれぞれ分かれて、グループ全体で行う若手年代別研修。不動産営業・ホテルサービス・人材</br>派遣などさまざまな業界・業種の同期が集まりともに学びます。</p>
            </div>
            <div class="row mb-4" style="border-bottom:1px solid #EDEDED;">
              <h2>階層別研修</h2>
              <p>各階層に合わせた内容で実施しています。毎年内容が異なり、自分自身が受けたい研修を選び参加することが可能です。</p>
            </div>
            <div class="row mb-4" style="border-bottom:1px solid #EDEDED;">
              <h2>海外視察研修</h2>
              <p>海外事業拡大に向け、東南アジアを中心に現地の視察研修を実施しています。参加希望者はエントリーシートを</br>提出し、その中から選抜されます。</p>
            </div>
            <div class="row mb-4" >
              <h2>通信教育</h2>
              <p>資格取得の際は、通信教育で研修を受けられるなど、社員一人ひとりにとって学びやすい環境づくりを行ってい</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- list-three -->
    <div class="list">
      <p class="workstyle-btn">研修・教育</p>
      <div class="workstyle-content">
        <div class="row  py-5">
          <div class="col-md-10">
            <div class="row mb-4" style="border-bottom:1px solid #EDEDED;">
              <h2>フォローアップ研修</h2>
              <p>1年に2回、新入社員の配属後のフォローアップを行う研修。2回とも同じ講師が担当し、入社直後と入社半年</br>後の自身の成長や新たな課題に向き合う機会となります。</p>
            </div>
            <div class="row mb-4" style="border-bottom:1px solid #EDEDED;">
              <h2>2～3年目研修</h2>
              <p>2年目・3年目にそれぞれ分かれて、グループ全体で行う若手年代別研修。不動産営業・ホテルサービス・人材</br>派遣などさまざまな業界・業種の同期が集まりともに学びます。</p>
            </div>
            <div class="row mb-4" style="border-bottom:1px solid #EDEDED;">
              <h2>階層別研修</h2>
              <p>各階層に合わせた内容で実施しています。毎年内容が異なり、自分自身が受けたい研修を選び参加することが可能です。</p>
            </div>
            <div class="row mb-4" style="border-bottom:1px solid #EDEDED;">
              <h2>海外視察研修</h2>
              <p>海外事業拡大に向け、東南アジアを中心に現地の視察研修を実施しています。参加希望者はエントリーシートを <br>提出し、その中から選抜されます。</p>
            </div>
            <div class="row mb-4">
              <h2>通信教育</h2>
              <p>資格取得の際は、通信教育で研修を受けられるなど、社員一人ひとりにとって学びやすい環境づくりを行ってい</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- list-four -->
    <div class="list">
      <p class="workstyle-btn">福利厚生</p>
      <div class="workstyle-content">
        <div class="row  py-5">
          <div class="col-md-8">
           <p>・休日（営業系：火・水、内勤系：土・日・祝）</p>
           <p>・年末年始休暇</p>
           <p>・有給休暇</p>
           <p>・慶弔特別休暇</p>
           <p>・リフレッシュ休暇</p>
           <p>・記念日休暇</p>
           <p>・スクールイベント休暇</p>
          </div>
        </div>
      </div>
    </div>
   </div>
</div>
</div>
