<div class="container-fluid recruit-message">
  <div class="row justify-content-center">
    <div class="col-md-12 recruit-message-content">
      <div>
        <img src="/images/recruit-message.jpg" />
      </div>
      <div class="">
        <h2>
          もっと、わくわく！ <br />
          あなぶき興産の未来をつくる一員に。
        </h2>
      </div>
      <div class="">
        <p>あなぶき興産の一番の魅力は『人』です。
          <br>それは挑戦したいという思いを歓迎し応援してくれ、一緒に乗り越えてくれる社風があるからです。そしてそれは
          <br>皆さんにとっても、そうでありたいと考えています。
          <br>あなたは志望する企業と対峙したとき、『正解を言わないと』『その企業に合った性格を演じないと』という思いか
          <br>ら、自分を出すことを怖いと感じたことはありませんか？
          <br>私たちあなぶき興産の採用担当はありのままのあなたとお会いし、向き合い、お話を伺います。少しでも自分らし
          <br>さを発揮できるように、会社説明会や選考も私服でご参加していただけます。
          <br>ぜひ、怖がらず素直に、夢や挑戦したい思いをぶつけて下さい。
          <br>私たちはこれからも小さなわくわくを繋げ、大きなわくわくを地域へ、そして世界へと届けます。その未来を共に
          <br>創っていくことができる人と一緒に働きたいと考えています。
          <br>皆さんも自分の未来がわくわくすると思った方向に進んでください。その先があなぶき興産であることを心から
          <br>願っています。
        </p>
    
      </div>
    </div>
  </div>
</div>
