<div class="container-fluid recruit-workstyle-next">
    <div class="row h-100 d-flex align-items-center">
      <div class="col-md-8 mx-auto">
        <div class="next">
          <p>NEXT</p>
          <h1>会社情報</h1>
          <div class="read-more">
            <a href="#">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  